{% extends 'default.html' %}
{% load i18n %}

{% block pagetitle %}
{% endblock %}

{% block info %}
{% endblock %}

{% block register %}
{% endblock %}

{% block sponsors %}
{% endblock %}

{% block additional %}
{% endblock %}

{% block sidebar %}
  <div class="large-4 columns">
    {# include 'includes/_vk.html' #}
    <script type="text/javascript" src="//vk.com/js/api/openapi.js?87"></script>

    <!-- VK Widget -->
    <div id="vk_groups"></div>
    <script type="text/javascript">
      VK.Widgets.Group("vk_groups", {mode: 2, width: "300", height: "290"}, 51121552);
    </script>
    <br>
    {% include 'includes/_twitter.html' %}
  </div>
{% endblock %}

{% block main %}{% endblock %}
