{% extends "profiles/base.html" %}
{% load i18n widget_tweaks %}

{% block sidebar %}
{% endblock %}

{% block main %}

  <div class="large-8 columns large-centered">

    <ul class="breadcrumbs">
      <li><a href="/">Главная</a></li>
      <li><a href="{% url 'profile_list' %}">Участники</a></li>
      <li class=""><a href="{% url 'profile_detail' user.profile.pk %}">Мой профиль</a></li>
      <li class="current"><a href="#">Редактирование</a></li>
    </ul>

    <div class="form-container clearfix">
      <form enctype="multipart/form-data" action="." id="form" class="form profile-form" method="post" novalidate="novalidate">
        <fieldset>
          <legend>Редактировать аккаунт</legend>
        {% csrf_token %}
        {{ form.non_field_errors }}
        {{ form.username|append_attr:"placeholder:Ваш юзернейм или реальное имя"|add_error_class:"error" }}
        {{ form.username.errors }}

        {{ form.user_skills|append_attr:"placeholder:Ваши навыки или технологии, которыми владеете"|add_error_class:"error" }}
        {{ form.user_skills.errors }}

        {{ form.user_role }}
        {{ form.user_role.errors }}

        {{ form.contact|append_attr:"placeholder:Ссылка на ваш профиль, skype, чтобы участники команды смогли с вами связаться"|add_error_class:"error" }}
        {{ form.contact.errors }}

        {{ form.phone|append_attr:"placeholder:Ваш телефон. Например, +7 987 654 4321 (необязательно)"|add_error_class:"error" }}
        {{ form.phone.errors }}

        <label for="id_has_idea">{{ form.has_idea }}&nbsp;У меня есть идея</label>
        {{ form.has_idea.errors }}
        <br>

        {{ form.text_idea|append_attr:"placeholder:Краткое описание вашей идеи. Что или кто требуется для ее реализации?"|add_error_class:"error" }}
        {{ form.text_idea.errors }}

        <input class="button" value="{% trans 'Обновить' %}" type="submit">
        </fieldset>
      </form>
    </div>

  </div>
{% endblock %}
