{% extends 'profiles/base.html' %}
{% load i18n gravatar %}

{% block pagetitle %}{{ project.title }} | Hackpoint'13 Череповец{% endblock %}
{% block og_image %}{{ project.avatar }}/convert?w=200&h=200{% endblock %}
{% block meta_title %}Hackpoint проекты. {{ project.title }}{% endblock %}
{% block meta_description %}{{ project.text_idea|striptags|truncatewords:20 }}{% endblock %}

{% block main %}

  <div class="large-8 columns">

    <ul class="breadcrumbs">
    <li><a href="/">Главная</a></li>
    <li><a href="{% url 'project_list' %}">Проекты</a></li>
    <li class="current"><a href="#">{{ project.title }}</a></li>
    </ul>

    <div class="large-12 columns">
      {% if user.profile.empty %}
      <p>Для того, чтобы получить возможность добавить описание своего проекта или присоединиться к понравившемуся вам необходимо <a href="{% url 'profile_edit' user.profile.pk %}">заполнить профиль</a></p>
      {% endif %}
    </div>

    <div class="row project_detail">
      <div class="small-12 columns">
        <h4><i class="foundicon-idea"></i> {{ project.title }}</h4>

        <h4><small>Автор: <a href="{% url 'profile_detail' project.owner.pk %}">{{ project.owner.username }}</a></small></h4>
      </div>

      <div class="small-12 columns">
        {% ifequal project.owner user.profile %}
          <a class="button tiny secondary" title="Редактировать проект" href="{% url 'project_edit' project.pk %}"><i class="foundicon-edit"></i> Редактировать</a>
        {% endifequal %}

        {% ifequal user.profile project.owner %}
        <input type="filepicker" data-fp-button-text="Изменить картинку" data-fp-apikey="A3lXl09sRSejY4e0pOOSQz" data-fp-mimetypes="image/*" data-fp-container="modal" data-fp-services="COMPUTER,DROPBOX" onchange="setAvatar(event.fpfile.url)" class="button tiny secondary">
        {% endifequal %}

        <span class="team_actions">
          {% if not project.is_full %}
          <a style="{% if not user.profile.can_join and not user.profile.team = project %}display:none;{% endif %}" class="button tiny team_join {% ifequal user.profile.team project %}team_joined disabled{% endifequal %}" data-project-id="{{ project.pk }}" data-profile-id="{{ user.profile.pk }}" title="Записаться в команду" href="#">
            <i class="foundicon-checkmark"></i> {% if user.profile.can_join %}Хочу в команду{% endif %}{% ifequal user.profile.team project %}Вы в команде{% endifequal %}
          </a>
          {% endif %}

          <a style="{% if not user.profile.can_left or not user.profile.team = project %}display:none;{% endif %}" class="button tiny secondary team_left" data-project-id="{{ project.pk }}" data-profile-id="{{ user.profile.pk }}" title="Выйти из команды">
            <i class="foundicon-remove"></i> Выйти
          </a>
        </span>
      </div>
      <div class="small-12 columns">
        {% if project.avatar %}
          <img class="th" id="project_avatar" src="{{ project.avatar }}/convert?w=600&h=200&crop=10,10,600,200">
        {% else %}
          <img class="th" id="project_avatar" src="http://lorempixel.com/650/200/cats/">
        {% endif %}
      </div>

      <div class="small-12 columns">

        <fieldset>
          <legend><span class="label">Описание</span></legend>
          {{ project.text_idea|default:""|safe }}
        </fieldset>

        <br>

        <h5 class="subheader">Команда</h5>
        <ol>
          <li>
            <a href="{% url 'profile_detail' project.owner.pk %}">{{ project.owner.username }}</a> &mdash; <span>{{ project.owner.get_user_role_display }}</span>
          </li>
          {% for member in project.members.all %}
            <li><a href="{% url 'profile_detail' member.pk %}">{{ member.username }}</a> &mdash; <span>{{ member.get_user_role_display }}</span></li>
          {% endfor %}
        </ol>
        <!-- Put this div tag to the place, where the Comments block will be -->
        <div id="vk_comments_{{ project.id }}"></div>
        <script type="text/javascript">
          VK.Widgets.Comments("vk_comments_{{ project.id }}", {limit: 10, width: "600", attach: false});
        </script>

      </div>
    </div>

  </div>

{% endblock %}

{% block extrajs %}
{% ifequal user.profile project.owner %}
  <script type="text/javascript" src="//api.filepicker.io/v1/filepicker.js"></script>
  <script type="text/javascript">
    var setAvatar = function(avatarUrl) {
      $.post("{% url 'project_edit' project.pk %}", {
        avatar: avatarUrl
      })
      .success(function() {
        $('#project_avatar').attr('src', avatarUrl + '/convert?w=600&h=200&crop=10,10,600,200');
      });
    };
  </script>
{% endifequal %}
{% endblock %}
