{% extends 'profiles/base.html' %}
{% load i18n gravatar %}

{% block main %}

<div class="row">
  <div class="large-8 columns">

    <ul class="breadcrumbs">
    <li><a href="/">Главная</a></li>
    <li><a href="{% url 'profile_list' %}">Участники</a></li>
    <li class="current"><a href="#">{% ifequal user profile.user %}Мой профиль{% else %}{{ profile.username }}{% endifequal %}</a></li>
    </ul>

    <div class="row">
      <div class="small-3 columns">
          <a class="th" href="#">{% gravatar_img_for_email profile.user.email %}</a>
          {% ifequal user.profile profile %}
            <hr>
            <a class="button tiny secondary" title="Редактировать профиль" href="{% url 'profile_edit' profile.pk %}"><i class="foundicon-edit"></i> Редактировать</a>
          {% endifequal %}

          {% if not user.profile.empty_profile and not user.profile.in_team %}
            <a class="button tiny secondary" title="Редактировать профиль" href="{% url 'project_create' %}">Создать проект</a>
          {% endif %}
      </div>

      <div class="small-9 columns">
        {% if profile.username %}
        <h4>
          {{ profile.username }}
        </h4>
        {% endif %}

        <p><span class="label">Email:</span> **** {# profile.user.email #}</p>
        <p>
        <span class="label">Навыки:</span>
        {% if profile.user_skills %}
          {{ profile.user_skills }}<br>
        {% else %}
          Не указано<br>
        {% endif %}
        </p>

        <p><span class="label">Роль в команде:</span> {{ profile.get_user_role_display }}<br></p>

        {% if profile.in_team %}
          <p>
            <span class="label">Проект:</span> <a href="{% url 'project_detail' profile.team.pk %}"><i class="foundicon-idea"></i>{{ profile.team.title }}</a><br>
          </p>
        {% endif %}

        {% if profile.has_idea %}
          <p>
            <a class="button tiny secondary" href="#">Есть идея!</a><br>
          </p>
        {% endif %}
          {% if profile.text_idea %}
            {% if user.is_authenticated %}
              <div class="row">
                <div class="large-12 columns">{{ profile.text_idea|safe }}</div>
              </div>
            {% else %}
              <small>Описание доступно только после регистрации</small>
            {% endif %}
          {% endif %}
      </div>
    </div>

  </div>
</div>

{% endblock %}
