{% extends 'profiles/base.html' %}
{% load gravatar pymorphy_tags %}

{% block main %}
<div class="row">
  <div class="large-12 columns">
    {% regroup profile_list by get_user_role_display as profiles %}
    <dl>
      {% for profile in profiles %}
      <dt>{{ profile.grouper|inflect:"мн" }}</dt>
      {% for item in profile.list %}
        <dd>
          <div class="row">
            <div class="small-2 columns">
              <a class="th" href="#">{% gravatar_img_for_email item.user.email %}</a>
            </div>

            <div class="small-10 columns">
              <!-- {{ item.get_user_role_display }}<br> -->
              <h6><a class="" href="#">{{ item.username }}</a></h6>
              <span class="label">Навыки:</span>
              {% if item.user_skills %}
                {{ item.user_skills }}<br>
              {% else %}
                Не указано<br>
              {% endif %}
              {% if item.has_idea %}<a class="button tiny secondary" href="#">Есть идея!</a>{% endif %}
            </div>
          </div>
          </dd>
        {% endfor %}
      {% endfor %}
    </dl>
  </div>
</div>
{% endblock %}
