{% extends 'profiles/base.html' %}
{% load i18n gravatar %}

{% block main %}

<div class="row">
  <div class="large-8 columns">

    <ul class="breadcrumbs">
    <li><a href="/">Главная</a></li>
    <li><a href="{% url 'profile_list' %}">Участники</a></li>
    <li class="current"><a href="#">{% ifequal user profile.user %}Мой профиль{% else %}{{ profile.username }}{% endifequal %}</a></li>
    </ul>

    <div class="row">
      <div class="small-3 columns">
          <a class="th" href="#">{% gravatar_img_for_email profile.user.email %}</a>
          {% ifequal user.profile profile %}
            <hr>
            <a class="button tiny secondary" title="Редактировать профиль" href="{% url 'profile_edit' profile.pk %}"><i class="foundicon-edit"></i> Редактировать</a>
          {% endifequal %}
      </div>

      <div class="small-9 columns">
        {% if profile.username %}
        <h6>
          <a class="" href="#">{{ profile.username }}</a>&nbsp;
        </h6>
        {% endif %}

        <p><span class="label">Email: </span> **** {# profile.user.email #}</p>
        <p>
        <span class="label">Навыки:</span>
        {% if profile.user_skills %}
          {{ profile.user_skills }}<br>
        {% else %}
          Не указано<br>
        {% endif %}
        </p>

        <p><span class="label">Роль в команде:</span> {{ profile.get_user_role_display }}<br></p>

        <p>
          {% if profile.has_idea %}
            <a class="button tiny secondary" href="#">Есть идея!</a><br>
          {% endif %}
        </p>
          {% if profile.text_idea %}
            {% if user.is_authenticated %}
              <blockquote>{{ profile.text_idea }}</blockquote>
            {% else %}
              <small>Описание доступно только после регистрации</small>
            {% endif %}
          {% endif %}
      </div>
    </div>

  </div>
</div>

{% endblock %}
