{% extends 'profiles/base.html' %}
{% load gravatar pymorphy_tags %}

{% block main %}
  <div class="large-8 columns">

    <ul class="breadcrumbs">
      <li><a href="/">Главная</a></li>
      <li class="current"><a href="#">Проекты</a></li>
    </ul>

    {% if user.is_authenticated %}
    <div class="large-12 columns">
      <p>Для того, чтобы получить возможность добавить описание своего проекта или присоединиться к понравившемуся вам необходимо <a href="{% url 'profile_edit' user.profile.pk %}">заполнить профиль</a></p>
      {% if not user.profile.in_team and not user.profile.empty %}
      <a class="button" href="{% url 'project_create' %}">Создать проект</a>
      {% endif %}
    </div>
    <hr>
    {% endif %}

    {% for project in project_list %}
    <div class="project_detail">

      <div class="row">
        <div class="large-12 columns">
          <h4><a href="{% url 'project_detail' project.pk %}"><i class="foundicon-idea"></i> {{ project.title }}</a></h4>

          {% if project.avatar %}
            <img src="{{ project.avatar }}/convert?w=600&h=200&crop=10,10,600,200">
          {% endif %}

          <div class="subheader">Автор идеи: {{ project.owner.username }}&nbsp;
          </div>
          <div class="subheader">Команда: {% for member in project.members.all %}{{ member.username|default:"Неизвестный" }}{% if not forloop.last %};&nbsp;{% endif %}{% empty %}Пока нет({% endfor %}&nbsp;

            <span class="team_actions">

              <a style="{% if not user.profile.can_join and not user.profile.team = project %}display:none;{% endif %}" class="button tiny team_join {% ifequal user.profile.team project %}team_joined disabled{% endifequal %}" data-project-id="{{ project.pk }}" data-profile-id="{{ user.profile.pk }}" title="Записаться в команду" href="#">
                <i class="foundicon-checkmark"></i> {% if user.profile.can_join %}Хочу в команду{% endif %}{% ifequal user.profile.team project %}Вы в команде{% endifequal %}
              </a>

              <a style="{% if not user.profile.can_left or not user.profile.team = project %}display:none;{% endif %}" class="button tiny secondary team_left" data-project-id="{{ project.pk }}" data-profile-id="{{ user.profile.pk }}" title="Выйти из команды">
                <i class="foundicon-remove"></i> Выйти
              </a>

            </span>

          </div>
        </div>
      </div>

      <div class="row">
        <div class="large-12 columns">
          <p>
          {{ project.text_idea|default:""|safe|truncatewords_html:20 }}
          </p>
        </div>
      </div>

    </div>
    {% endfor %}
  </div>
{% endblock %}
