{% extends 'profiles/base.html' %}
{% load i18n gravatar markup %}

{% block main %}

  <div class="large-8 columns">

    <ul class="breadcrumbs">
      <li><a href="/">Главная</a></li>
      <li><a href="{% url 'profile_list' %}">Участники</a></li>
      <li class="current"><a href="#">{% ifequal user profile.user %}Мой профиль{% else %}{{ profile.username }}{% endifequal %}</a></li>
    </ul>

    <!--
    {% if user.profile = profile and not profile.confirmed %}
    <div class="row">
      <div class="small-12 columns">
        <a data-profile-id="{{ profile.pk }}" id="total_confirm" class="small-12 columns button" title="Подтвердить регистрацию" href="{% url 'project_create' %}">Я точно приду</a>
      </div>
    </div>
    {% endif %}
    -->

    <div class="row">
      <div class="small-3 columns text-center">
        <a id="user_avatar" class="th" href="#">
          {% if profile.avatar %}
            <img src="{{ profile.avatar }}/convert?w=150&h=150">
          {% else %}
            {% gravatar_img_for_email profile.user.email %}
          {% endif %}
        </a><br><br>
        {% ifequal user.profile profile %}
        <input type="filepicker" data-fp-button-text="Изменить аватар" data-fp-apikey="A3lXl09sRSejY4e0pOOSQz" data-fp-mimetypes="image/*" data-fp-container="modal" data-fp-services="COMPUTER,DROPBOX" onchange="setAvatar(event.fpfile.url)" class="button tiny secondary small-12">
        {% endifequal %}

        {% ifequal user.profile profile %}
          <a class="button tiny secondary small-12" title="Редактировать профиль" href="{% url 'profile_edit' profile.pk %}"><i class="foundicon-edit"></i>&nbsp;Редактировать</a>
        {% endifequal %}

        {% if not user.profile.empty and not user.profile.in_team and user.profile = profile %}
          <a class="button tiny primary small-12" title="Создать проект" href="{% url 'project_create' %}"><i class="foundicon-idea"></i>&nbsp;Создать проект</a>
        {% endif %}

      </div>

      <div class="small-9 columns">
        {% if profile.username %}
        <h4>
          {{ profile.username }}
        </h4>
        {% endif %}

        {% if profile.user == user %}
        <p><b>Email:</b> {{ user.email }}</p>
        {% endif %}

        <p><b>Контакты:</b>{% if profile.team and user.profile.team = profile.team or profile.user == user %} {{ profile.contact|default:"" }}{% else %} <i>Видны только членам команды</i>{% endif %}</p>

        <p>
        <b>Навыки:</b>
        {% if profile.user_skills %}
          {{ profile.user_skills }}<br>
        {% else %}
          Не указано<br>
        {% endif %}
        </p>

        <p><b>Роль в команде:</b> {{ profile.get_user_role_display }}<br></p>

        {% if profile.in_team %}
          <p>
            <b>Проект:</b> <a href="{% url 'project_detail' profile.team.pk %}"><i class="foundicon-idea"></i>{{ profile.team.title }}</a><br>
          </p>
        {% endif %}

        {% if profile.has_idea %}
          <p>
            <a class="button tiny secondary" href="#">Есть идея!</a><br>
          </p>
        {% endif %}
          {% if profile.text_idea %}
            {% if user.is_authenticated %}
              <div class="row">
                <div class="large-12 columns">{{ profile.text_idea|markdown:"safe" }}</div>
              </div>
            {% else %}
              <small>Описание доступно только после регистрации</small>
            {% endif %}
          {% endif %}
      </div>
    </div>

  </div>

{% endblock %}

{% block extrajs %}
{% ifequal user.profile profile %}
  <script type="text/javascript" src="//api.filepicker.io/v1/filepicker.js"></script>
  <script type="text/javascript">
    var setAvatar = function(avatarUrl) {
      $.post("{% url 'profile_edit' user.profile.pk %}", {
        avatar: avatarUrl
      })
      .success(function() {
        $('#user_avatar img').attr('src', avatarUrl);
      });

    };
  </script>
{% endifequal %}
{% endblock %}
