{% extends 'profiles/base.html' %}
{% load gravatar pymorphy_tags %}

{% block main %}
  <div class="large-8 columns">

    <ul class="breadcrumbs">
      <li><a href="/">Главная</a></li>
      <li class="current"><a href="#">Участники</a></li>
    </ul>

    {% regroup profile_list by get_user_role_display|inflect:"мн" as profiles %}
    <dl class="user_list">
      {% for profile in profiles %}
      <dt><h4 class="subheader">{{ profile.grouper|default:"Не указано" }} <span class="label">{{ profile.list|length}}</span></h4></dt>
      <hr>
      {% for item in profile.list %}
        <dd>
          <div class="row">
            <div class="small-2 columns">
              <a class="th" href="{% url 'profile_detail' item.pk %}">
                {% if item.avatar %}
                  <img src="{{ item.avatar }}/convert?w=80&h=80">
                {% else %}
                  {% gravatar_img_for_email item.user.email %}
                {% endif %}
              </a>
            </div>

            <div class="small-10 columns">
              <!-- {{ item.get_user_role_display }}<br> -->
              <h6><a class="" href="{% url 'profile_detail' item.pk %}">{{ item.username }}</a></h6>
              {% if item.user_skills %}
                <div class="skills">
                  <b>Навыки:</b>
                  {{ item.user_skills|truncatewords_html:30 }}
                </div>
              {% else %}
                Не указано<br>
              {% endif %}
              {% if item.has_idea and item.text_idea %}
              <a class="button tiny secondary has_idea" href="#">Есть идея!</a>
              <div class="panel hide">
                {{ item.text_idea|safe }}
              </div>
              {% endif %}
              {% if item.team %}
                <a class="button tiny has_project" href="{% url 'project_detail' item.team.pk %}">Есть проект!</a>
              {% endif %}
            </div>
          </div>
          </dd>
        {% endfor %}
      {% endfor %}
    </dl>
  </div>
{% endblock %}
