<div id="mapModal" class="reveal-modal">
  <h4>Полезные места</h4>
  <p>Где можно покушать в нашем городе, купить продуктов или переночевать недалеко от &laquo;Молодежного центра&raquo;</p>
  <p>Доехать до &laquo;Молодежного центра&raquo; от вокзала можно на <b>автобусе №6</b></p>
  <div class="row collapse">
      <div class="large-12 columns">
        <div id="map-modal" style="height:550px;"></div>
      </div>
  </div>
  <a class="close-reveal-modal">&#215;</a>
</div>
<script type="text/javascript">
  ymaps.ready(init);
  var myMap,
      placeMark;

  function init(){     
    myMap = new ymaps.Map ("map-modal", {
      center: [59.123771, 37.877115],
      zoom: 16,
    });

    ymaps.geoXml.load('http://maps.yandex.ru/export/usermaps/T4xMfSgWwncaG8NAU8RRXju-GfAZcTM-/').then(function (res) {
      myMap.geoObjects.add(res.geoObjects);
    });


    placeMark = new ymaps.Placemark([59.123771, 37.877115], {
      content: 'Череповец',
      balloonContent: 'Молодежный центр города Череповца'
    });
    myMap.geoObjects.add(placeMark);
  }
</script>
