<div id="mapModal" class="reveal-modal">
  <h4>Полезные места</h4>
  <p>Где можно покушать в нашем городе, купить продуктов или переночевать недалеко от &laquo;Молодежного центра&raquo;</p>
  <p>Доехать до &laquo;Молодежного центра&raquo; от вокзала можно на <b>автобусах №6, №17, №39, №37.</b>
  <a target="_blank" href="http://maps.yandex.ru/?um=g7mOH573v4EEMY4Sco9BMheLEjapOSSp&l=map">Ссылка на карту</a>
  </p>
  <div class="row collapse">
      <div class="large-12 columns">
        <div id="map-modal" style="height:550px;"></div>
      </div>
  </div>
  <a class="close-reveal-modal">&#215;</a>
</div>
