<div id="registerModal" class="reveal-modal small">
  <h4>Благодарим за регистрацию на hackpoint</h4>
  <p>Заполните форму и в дальнейшем вы сможете точнее подобрать команду и проект для участия.</p>
  <form method="POST" action="{% url 'profiles_register' %}" class="custom" id="register_full">
    {% csrf_token %}

    <div class="row">
      <input id="id_username" type="text" name="username" value="" placeholder="Меня зовут (никнэйм или реальное имя)" />
    </div>

    <div class="row">
      <input id="id_contact" type="text" name="contact" value="" placeholder="Ссылка на ваш профиль в соц сетях или skype" />
    </div>

    <div class="row">
      <label for="id_user_role">Моя роль в команде</label>
      <select id="id_user_role" class="large" name="user_role">
      <option value="programmer">Программист</option>
      <option value="designer">Дизайнер</option>
      <option value="manager">Менеджер</option>
      <option value="student">Студент</option>
      <option value="other">Другое</option>
      </select>
    </div>

    <div class="row">
      <textarea rows=3 id="id_user_skills" name="user_skills" placeholder="Мои навыки, скилы, умения. Какими технологиями я обладаю."></textarea>
    </div>

    <div class="row">
      <label for="id_has_idea"><input type="checkbox" name="has_idea" id="id_has_idea" style="display: none;"><span class="custom checkbox"></span> У меня есть идея для проекта</label>
    </div>

    <hr>

    <div class="row">
      <input type="submit" class="button" value="Завершить">
    </div>
  </form>
  <a class="close-reveal-modal">&#215;</a>
</div>
