<div id="myModal" class="reveal-modal">
  <h2>Регистрация на hackpoint</h2>
  <form method="POST" action="{% url 'profiles_register' %}" class="custom">
    {% csrf_token %}

    <div class="row">
      <input id="id_username" type="text" name="username" value="" placeholder="Меня зовут (никнэйм или реальное имя)" />
    </div>

    <div class="row">
      <input id="id_email" type="text" name="email" value="" placeholder="Мой email" />
    </div>

    <div class="row">
      <label for="id_user_role">Моя роль в команде</label>
      <select id="id_user_role" class="large" name="user_role">
      <option value="programmer">Программист</option>
      <option value="designer">Дизайнер</option>
      <option value="manager">Менеджер</option>
      <option value="student">Студент</option>
      <option value="other">Другое</option>
      </select>
    </div>

    <div class="row">
      <label for="id_has_idea"><input type="checkbox" name="has_idea" id="id_has_idea" style="display: none;"><span class="custom checkbox"></span> У меня есть идея для проекта</label>
    </div>

    <div class="row">
      <textarea rows=3 id="id_user_skills" name="user_skills" placeholder="Мои навыки, скилы, умения. Какими технологиями я обладаю."></textarea>
    </div>

    <input type="submit" class="button" value="жмак">
  </form>
  <a class="close-reveal-modal">&#215;</a>
</div>
