{% load activelink %}
<nav class="top-bar">
  <ul class="title-area">
  <!-- Title Area -->
  <li class="name">
  </li>
  <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
  <li class="toggle-topbar"><a href="#"><span>Меню</span></a></li>
  </ul>

  <section data-magellan-expedition="fixed" class="top-bar-section">
    <ul class="right">
      {% if user.is_authenticated %}
        <li class="{% ifactive 'project_list' %}active{% endifactive %}" data-magellan-arrival="projects"><a href="{% url 'project_list' %}">Проекты</a></li>
        <li class="{% ifactive 'profile_list' %}active{% endifactive %}" data-magellan-arrival="profiles"><a href="{% url 'profile_list'%}">Участники</a></li>
      {% endif %}
      <li data-magellan-arrival="place"><a href="/#place">Место</a></li>
      <li data-magellan-arrival="about"><a href="/#about">О мероприятии</a></li>
      <li data-magellan-arrival="who"><a href="/#who">Для кого</a></li>
      <li class="divider"></li>
      {% if user.is_authenticated %}
        <li class="has-dropdown"><a href="{% url 'profile_detail' user.profile.pk %}">{{ user.email }}</a>
          <ul id="usermenu" class="dropdown">
            <li><a href="{% url 'profile_edit' user.profile.id %}">Редактировать профиль</a></li>
            {% if user.profile.team %}
            <li><a href="{% url 'project_detail' user.profile.team.pk %}">Мой проект</a></li>
            {% endif %}
            <li><a href="{% url 'logout' %}">Выйти</a></li>
          </ul>
        </li>
      {% else %}
        <li class="has-form"><a class="button" href="{% url 'login' %}">Войти</a>
        </li>
      {% endif %}
    </ul>
  </section>
</nav>

