{% load activelink gravatar %}
<nav class="top-bar" data-topbar role="navigation">
  <ul class="title-area">
    <!-- Title Area -->
    <li class="name">
    </li>
    <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
    <li class="toggle-topbar menu-icon"><a href="#"><span>Меню</span></a></li>
  </ul>

  <!--
  <section data-magellan-expedition="fixed" class="top-bar-section">
  -->
  <section  class="top-bar-section">
    <ul class="right">
      <li class="{% ifstartswith  '/accounts/projects/' %}active{% endifstartswith %}"><a href="{% url 'project_list' %}">Проекты</a></li>
      <li class="{% ifstartswith '/accounts/list/' %}active{% endifstartswith %}"><a href="{% url 'profile_list'%}">Участники</a></li>
      <li><a href="/#wrapper-register">Место</a></li>
      <li><a href="/#who">Для кого</a></li>
      <li><a href="/#team-hp">О нас</a></li>
      <li class="divider"></li>
      {% if user.is_authenticated %}
        <li class="has-dropdown profile-menu">
          {% if user.profile.avatar %}
            <a href="{% url 'profile_detail' user.profile.pk %}">
              <img src="{{ user.profile.avatar }}/convert?w=25&h=25">
              Профиль
            </a>
          {% else %}
            <a href="{% url 'profile_detail' user.profile.pk %}">
              {% gravatar_img_for_email user.profile.user.email 25 %}
              Профиль
            </a>
          {% endif %}

          <ul id="usermenu" class="dropdown">
            <li><a href="{% url 'profile_detail' user.profile.id %}">Инфо обо мне</a></li>
            <li><a href="{% url 'profile_edit' user.profile.id %}">Редактировать профиль</a></li>
            {% if user.profile.team %}
            <li><a href="{% url 'project_detail' user.profile.team.pk %}">Мой проект</a></li>
            {% endif %}
            <li><a href="{% url 'logout' %}">Выйти</a></li>
          </ul>
        </li>
      {% else %}
        <li class="has-form"><a class="button" href="{% url 'login' %}">Войти</a>
        </li>
      {% endif %}
    </ul>
  </section>
</nav>
