<!--
<script src="http://widgets.twimg.com/j/2/widget.js"></script>
<script>
  new TWTR.Widget({
    version: 3,
    //type: 'search',
    type: 'profile',
    search: '#hackpoint_che',
    interval: 30000,
    title: 'hackpoint\'13',
    subject: '#hackpoint',
    width: 300,
    height: 300,
    theme: {
      shell: {
        background: '#dae2e8',
        color: '#45688e'
      },
      tweets: {
      background: '#ffffff',
      color: '#444444',
      links: '#45688e'
      }
    },
    features: {
      scrollbar: false,
      loop: false,
      live: true,
      hashtags: true,
      timestamp: true,
      avatars: true,
      toptweets: true,
      behavior: 'default'
    }
  }).render().setUser('hackpoint_che').start();
</script>

-->

<a class="twitter-timeline" href="https://twitter.com/hackpoint_che" data-widget-id="295507396799897601" data-theme="light" data-link-color="#45688e" data-chrome="nofooter noheader noborders"  data-related="hackpoint_che,twitter" data-aria-polite="assertive" width="300" height="300" lang="RU">Tweets by @hackpoint_che</a>


<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
