<a class="twitter-timeline" href="https://twitter.com/hackpoint_che" data-widget-id="295507396799897601" data-theme="light" data-link-color="#45688e" data-chrome="nofooter noheader noborders"  data-related="hackpoint_che,twitter" data-aria-polite="assertive" width="300" height="300" lang="RU">Tweets by @hackpoint_che</a>

<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>


<!-- BEGIN: Twitter website widget (http://twitterforweb.com) -->
<!--
<div style="width:300px;font-size:8px;text-align:right;"><script type="text/javascript">
    document.write(unescape("%3Cscript src='http://twitterforweb.com/twitterbox.js?username=hackpoint_che&settings=1,0,3,300,505,f4f4f4,1,ffffff,101010,1,1,2E95EC' type='text/javascript'%3E%3C/script%3E"));</script>Created by: <a href="http://twitterforweb.com" target="_blank">twitter website widget</a></div>
-->
<!-- END: Twitter website widget (http://twitterforweb.com) -->
