<div class="row">
  <div class="large-12 columns">
    <div class="panel">

      <div class="row">
        <div class="large-3 columns">
          <a rel="nofollow" target="_blank" href="http://cmirit.ru">
            <img class="th" id="cmirit_logo" src="{{ STATIC_URL }}i/cmirit_logo.png" />
          </a><br><br>
          <a rel="nofollow" target="_blank" href="http://risventures.com">
            <img class="th" id="" src="{{ STATIC_URL }}i/deep_dive_logo.jpg" />
          </a><br><br>
        </div>
        <div class="large-3 columns">
          <a rel="nofollow" target="_blank" href="http://smallbusiness.ru">
            <img class="th" id="" src="{{ STATIC_URL }}i/small_business_logo.png" />
          </a><br><br>
        </div>
        <div class="large-3 columns">
          <a rel="nofollow" target="_blank" href="http://cio35.ru">
            <img class="th" id="itvologda_logo" src="{{ STATIC_URL }}i/itvologda_logo.png" />
          </a>
        </div>
        <div class="large-3 columns">
          <a rel="nofollow" target="_blank" href="http://www.on-lineservice.ru/">
            <img class="th" id="" src="{{ STATIC_URL }}i/online_logo.jpg" />
          </a><br><br>
        </div>
        <!--
        <div class="large-3 columns">
          <a rel="nofollow" target="_blank" href="http://synapse-studio.ru">
            <img class="th" id="synapse_logo" src="{{ STATIC_URL }}i/synapse_logo.png" />
          </a><br><br>
          <a rel="nofollow" target="_blank" href="http://tensor.ru">
            <img class="th" id="" src="{{ STATIC_URL }}i/tensor_logo.jpg" />
          </a><br><br>
          <a rel="nofollow" target="_blank" href="http://mallenom.ru">
            <img class="th" id="mallenom_logo" src="{{ STATIC_URL }}i/mallenom_logo.png" />
          </a>
        </div>
        -->
      </div>

    </div><!-- .panel -->
  </div><!-- .columns -->
</div><!-- .row -->
