<div class="row">
  <div class="large-4 columns">
    <h3 class="text-center">Генеральный партнер</h3>
    <a class="text-center" style="display:block;" rel="nofollow" target="_blank" href="http://www.rusventure.ru/ru">
      <img class="th" id="" src="{{ STATIC_URL }}i/rvk_logo.png" />
    </a>
  </div>

  <div class="large-4 columns">
    <h3 class="text-center">Золотой спонсор</h3>
    <a class="text-center large-10" style="display:block;" rel="nofollow" target="_blank" href="http://www.cmirit.ru/ru/index.html">
      <img class="th" src="{{ STATIC_URL }}i/cmirit_logo.png" />
    </a>
  </div>
  <div class="large-4 columns">
    <h3 class="text-center">Золотой спонсор</h3>
    <a class="text-center large-10" style="display:block;" rel="nofollow" target="_blank" href="http://gik35.ru">
      <img class="th" src="{{ STATIC_URL }}i/gik_logo.png" />
    </a>
  </div>
</div><!-- .row -->
<br><br>

<div class="row">
  <div class="large-12 columns">
    <h3 class="text-center">Спонсоры мероприятия</h3>
    <div class="panel">

      <div class="row">
        <div class="large-3 columns">
          <a rel="nofollow" target="_blank" href="http://chermc.ru/">
            <img class="th" id="cmirit_logo" src="{{ STATIC_URL }}i/mc_logo.jpg" />
          </a><br><br>
          <a rel="nofollow" target="_blank" href="http://ka35.ru/">
            <img class="th" id="ka_logo" src="{{ STATIC_URL }}i/ka_logo.png" />
          </a><br><br>
        </div>
        <div class="large-3 columns">
          <a rel="nofollow" target="_blank" href="http://cherepovets.interzet.ru">
            <img class="th" id="" src="{{ STATIC_URL }}i/interzet_logo.png" />
          </a><br><br>
          <a class="" rel="nofollow" target="_blank" href="http://cleverflow.ru">
            <img class="th" id="" src="{{ STATIC_URL }}i/cf_g_logo.png" />
          </a><br><br>
        </div>
        <div class="large-3 columns">
          <a rel="nofollow" target="_blank" href="#">
            <img class="th" id="" src="{{ STATIC_URL }}i/nortis_logo.png" />
          </a><br><br>
          <a rel="nofollow" target="_blank" href="http://полиграфическаямастерская.рф" class="">
            <img class="th" id="pm_logo" src="{{ STATIC_URL }}i/pm_logo_.png" />
          </a><br><br>
        </div>
        <div class="large-3 columns">
          <a rel="nofollow" target="_blank" href="http://vk.com/club33796948">
            <img class="th" id="" src="{{ STATIC_URL }}i/an2_logo.png" />
          </a><br><br>
          <a rel="nofollow" target="_blank" href="http://algoritm35.ru">
            <img class="th" id="cmirit_logo" src="{{ STATIC_URL }}i/algo_logo.png" />
          </a><br><br>
        </div>
      </div>

    </div><!-- .panel -->
  </div><!-- .columns -->
</div><!-- .row -->


<div class="row">
  <div class="large-12 columns">
    <h3 class="text-center">Информационные партнеры</h3>
    <div class="panel">

      <div class="row">
        <div class="large-3 columns">
          <a rel="nofollow" target="_blank" href="http://smallbusiness.ru">
            <img class="th" id="" src="{{ STATIC_URL }}i/small_business_logo.png" />
          </a><br><br>
          <a rel="nofollow" target="_blank" href="http://startupafisha.ru">
            <img class="th" id="" src="{{ STATIC_URL }}i/rusbase_logo_.jpg" />
          </a><br><br>
          <a rel="nofollow" target="_blank" href="http://hackday.ru">
            <img class="th" id="" src="{{ STATIC_URL }}i/hackday_logo.png" />
          </a><br><br>
        </div>
        <div class="large-3 columns">
          <a rel="nofollow" target="_blank" href="http://invest35.ru" class="">
            <img class="th" id="corp_logo" src="{{ STATIC_URL }}i/corp_logo.png" />
          </a><br><br>
          <a rel="nofollow" target="_blank" href="http://risventures.com">
            <img class="th" id="risventures_logo" src="{{ STATIC_URL }}i/ris_ventures_logo_.png" />
          </a><br><br>
          <a rel="nofollow" target="_blank" href="http://www.it-start.pro/">
            <img class="th" id="" src="{{ STATIC_URL }}i/ros_logo.png" />
          </a><br><br>
        </div>
        <div class="large-3 columns">
          <a rel="nofollow" target="_blank" href="http://cio35.ru">
            <img class="th" id="itvologda_logo" src="{{ STATIC_URL }}i/itvologda_logo.png" />
          </a><br><br>
          <a rel="nofollow" target="_blank" href="http://geometria.ru">
            <img class="th" id="geometria_logo" src="{{ STATIC_URL }}i/geometria_logo.png" />
          </a><br><br>
        </div>
        <div class="large-3 columns">
          <a rel="nofollow" target="_blank" href="http://www.on-lineservice.ru/">
            <img class="th" id="" src="{{ STATIC_URL }}i/online_logo.jpg" />
          </a><br><br>
          <a rel="nofollow" target="_blank" href="http://adremamici.ru/">
            <img class="th" id="adrem_logo" src="{{ STATIC_URL }}i/adrem_logo.png" />
          </a><br><br>
          <a rel="nofollow" target="_blank" href="http://volbiz.ru/">
            <img class="th" id="volbiz_logo" src="{{ STATIC_URL }}i/volbiz_logo.gif" />
          </a><br><br>
        </div>
        <!--
        <div class="large-3 columns">
          <a rel="nofollow" target="_blank" href="http://synapse-studio.ru">
            <img class="th" id="synapse_logo" src="{{ STATIC_URL }}i/synapse_logo.png" />
          </a><br><br>
          <a rel="nofollow" target="_blank" href="http://tensor.ru">
            <img class="th" id="" src="{{ STATIC_URL }}i/tensor_logo.jpg" />
          </a><br><br>
          <a rel="nofollow" target="_blank" href="http://mallenom.ru">
            <img class="th" id="mallenom_logo" src="{{ STATIC_URL }}i/mallenom_logo.png" />
          </a>
        </div>
        -->
      </div>

    </div><!-- .panel -->
  </div><!-- .columns -->
</div><!-- .row -->
