<!DOCTYPE html>

<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
  <meta charset="utf-8" />
  {% load assets jquery_validation %}

  <!-- Set the viewport width to device width for mobile -->
  <meta name="viewport" content="width=device-width" />
  <link rel="icon" type="image/x-icon" href="{{ STATIC_URL }}favicon.ico" />
  <link rel="shortcut icon" type="image/x-icon" href="{{ STATIC_URL }}favicon.ico" />

  {% block pagetitle %}
  <title>Hackpoint'13 Череповец</title>
  {% endblock %}
  
  <!-- Included CSS Files (Compressed) -->
  {% block extracss %}{% endblock extracss %}
  {% assets "all_css" %}
    <style type="text/css" media="screen">
        /* <![CDATA[ */
        @import '{{ ASSET_URL }}';
        /* ]]> */
    </style>
  {% endassets %}
  <script src="{{ STATIC_URL }}js/modernizr.foundation.js"></script>
</head>

<body>

{% block body %}
  <div class="row">
    <div class="twelve columns">
      <div class="six columns">
        <div id="logo" class="left">
          <a href="/">Hackpont.ru '13</a>
        </div>
      </div>
      <div id="where" class="six columns">
        <h2>Hackpoint'13 Che</h2>
        <p>Хакатон <strong>26-28 апреля</strong> Социалистическая 25, г. Череповец<br>Открытое творческое пространство &laquo;Простор&raquo;</p>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="twelve columns">
      {% block register %}
      <div class="panel">
        <div class="row">
          <div class="eight columns">
            <p>Регистрация на хакатон откроется 12 марта.</p>
          </div>

          <div class="four columns">
            <a class="button right" href="#" data-reveal-id="myModal">Зарегистрироваться</a>
          </div>
        </div>
      </div>
      {% endblock %}
    </div>
  </div>

  {% block info %}
  <div class="row">
    <div class="four columns">
      <h3><i class="foundicon-calendar"></i>&nbsp;Время</h3>
      <p><strong>26-26 апреля 2013 года</strong> <br>Начало: 11:00</p>

      <h3><i class="foundicon-location"></i>&nbsp;Место</h3>
      <p>ул. Социалистическая 25, г. Череповец<br><b>Открытое творческое пространство &laquo;Простор&raquo;</b></p>
    </div>

    <div class="eight columns">
      <div id="map" style="height:250px;"></div>
      {% include 'includes/_map.html' %}
    </div>
  </div>
  {% endblock %}

  {% block sponsors  %}
  <div class="row">
    <div class="twelve columns">
      <h3>Спонсоры</h3>
      <div class="panel">
        <div class="row">
          <a target="_blank" href="http://cmirit.ru" class="three columns th"><img id="cmirit" src="{{STATIC_URL }}i/cmirit_logo.png" /></a>
          <a target="_blank" href="http://cheritclub.ru" class="three columns th"><img id="cheritclub" src="{{ STATIC_URL }}i/cheritclub_logo.png" /></a>
          <a href="#" class="three columns th"><img src="http://placekitten.com/g/200/200" /></a>
          <a href="#" class="three columns th"><img src="http://placekitten.com/g/200/200" /></a>
        </div>
      </div>
    </div>
  </div>
  {% endblock %}

  <div class="row">
    <div class="eight columns">
      {% block content %}

      <div class="row">
        <div class="twelve columns">

          <ul class="accordion">
            <li class="active">
              <div class="title">
                <h5>О хакатоне</h5>
              </div>
              <div class="content">
                <p>Хакпоинт — это 48-часовой марафон, в котором программисты-добровольцы обязуются выдать в результате суточного кодинга что-то светлое, доброе и вечное. Ну, или как минимум, нужное. А если не нужное, то забавное.</p>
                <p>Главный принцип мероприятия — получить удовольствие от процесса, сделать то, до чего давно не доходили руки или экспромтом выдать гениальный проект! А попутно познакомиться с гениальными себе подобными, узнать новые интересные фичи и что-то новое в области технологий.</p>
              </div>
            </li>
            <li>
              <div class="title">
                <h5>Программа</h5>
              </div>
              <div class="content">
              </div>
            </li>
            <li>
              <div class="title">
                <h5>Номинации и призы</h5>
              </div>
              <div class="content">
              </div>
            </li>
            <li>
              <div class="title">
                <h5>FAQ</h5>
              </div>
              <div class="content">
              </div>
            </li>
            <li>
              <div class="title">
                <h5>Менторы и наставники</h5>
              </div>
              <div class="content">
              </div>
            </li>
            <li>
              <div class="title">
                <h5>Питание</h5>
              </div>
              <div class="content">
              </div>
            </li>
          </ul>

        </div>
      </div>
      {% endblock %}
    </div>

    {% block sidebar %}
    <div class="four columns">
      {% include 'includes/_vk.html' %}
      <hr>
      {% include 'includes/_twitter.html' %}
    </div>
    {% endblock %}
  </div>

  <!--
  <div id="copyright">
  </div>
  -->

  <script src="{{ STATIC_URL }}js/jquery.js"></script>
  {% assets  "all_js" %}
    <script type="text/javascript" language="javascript" src="{{ ASSET_URL }}" charset="utf-8">
        // <![CDATA[// ]]>
    </script>
  {% endassets %}
  
  {% include 'includes/_register.html' %}
  
{% endblock %}
</body>
</html>
