<!DOCTYPE html>

<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
  <meta charset="utf-8" />
  {% load assets jquery_validation %}

  <!-- Set the viewport width to device width for mobile -->
  <meta name="viewport" content="width=device-width" />
  <meta name='yandex-verification' content='4ecfdbd8e71d15f9' />
  <link rel="icon" type="image/x-icon" href="{{ STATIC_URL }}favicon.ico" />
  <link rel="shortcut icon" type="image/x-icon" href="{{ STATIC_URL }}favicon.ico" />

  <title>{% block _pagetitle %}Hackpoint'13 Череповец 22-24 ноября хакатон 2.0{% endblock %}</title>

  <!-- Included CSS Files (Compressed) -->
  {% block extracss %}{% endblock extracss %}
  {% assets "all_css" %}
    <style type="text/css" media="screen">
        /* <![CDATA[ */
        @import '{{ ASSET_URL }}';
        /* ]]> */
    </style>
  {% endassets %}
  <script src="{{ STATIC_URL }}js/modernizr.foundation.js"></script>
  <script src="{{ STATIC_URL }}js/jquery.js"></script>
</head>

<body>

  <div class="wrapper">
  {% block body %}
    <div class="row">
      <div class="small-3 columns">
        <div id="logo" class="left">
          <a href="/">Hackpont.ru '13</a>
        </div>
      </div>
      <div id="where" class="small-9 columns">
        {% include 'includes/_top_nav.html' %}
      </div>
    </div>

    {% block slogan %}
    <a style="display:block;margin-bottom:75px;" data-magellan-destination="top" name="#"></a>
    <div class="row">
      <div class="large-7 large-centered columns">
      <h4 id="slogan" class="subheader">Hackpoint &mdash; точка превращения идеи в прототип <br> Создай свой проект за 48 часов</h4>
      </div>
    </div>
    {% endblock %}

    <div class="row">
      <div class="large-8 columns">
        {% include 'messages.html' %}
      </div>
    </div>


    {% block register %}
    <div class="row panel">
      <div class="large-12 columns">

          <div class="large-6 columns">
          <h6 >Регистрация на хакпоинт открыта</h6> <h6 class="subheader">У нас будет:</h6>
            <ul class="square">
            <li>Много It-специалистов</li>
            <li>Бесплатное питание</li>
            <li>48-часовой доступ на площадку</li>
            <li>Море фана</li>
            </ul>
          </div>
          <div class="large-6 columns">

            <div class="row collapse">
              <form id="register_simple" method="post">
                {% csrf_token %}
                <div class="large-7 columns">
                  <input type="text" id="id_email" name="email" placeholder="Напишите ваш email">
                </div>
                <div class="large-5 columns">
                  <input type="submit" class="postfix button expand" value="Зарегистрироваться">
                </div>
              </form>
            </div>

            <hr>

            <div class="row collapse">
            <h6>Следи за обновлениями</h6>
            <div class="small-2 columns"><a target="_blank" href="http://vk.com/hackpoint" class="social vk">Vk</a></div>
            <div class="small-2 columns"><a target="_blank" href="http://twitter.com/hackpoint_che" class="social twi">Twi</a></div>
            <div class="small-2 columns left"><a target="_blank" href="http://facebook.com/hackpoint.che" class="social fb">Fb</a></div>
            </div>

          </div>

      </div>
    </div>
    {% endblock %}

    {% block info %}
    <a style="display:block;margin-bottom:75px;" data-magellan-destination="place" name="place"></a>
    <div class="row">
      <div class="large-4 columns">
        <h3><i class="foundicon-calendar"></i>&nbsp;Время</h3>
        <p><strong>22-24 ноября 2013 года</strong> <br>Начало: 18:00</p>

        <h3><i class="foundicon-location"></i>&nbsp;Место</h3>
        <p>ул. Устюженская 16, г. Череповец<br><b>Молодежный центр г. Череповца</b></p>
      </div>

      <div class="large-8 columns">
        <div id="map" style="height:250px;"></div>
        {% include 'includes/_map.html' %}
      </div>
    </div>
    {% endblock %}

    {% block sponsors %}
    <br>
    <div class="row">
      <div class="large-6 columns">
      </div>

      <div class="large-6 columns">
      </div>
      <div class="large-12 columns">
        {% include 'includes/sponsors.html' %}
      </div>
    </div><!-- .row -->
    <br>

    <div class="row">
      <div class="large-12 columns">
        <div class="panel">

          <div class="row">
          </div>

          <div class="row">
            <div class="text-center">
              <span class="text-center subheader">Знаете как помочь ивенту или хотите быть партнером? <a class="button small" data-reveal-id="sponsorshipModal" href="#sponsorship">Наше предложение для партнеров</a></span>
            </div>
          </div>

          <div class="row">
          </div>

        </div><!-- .panel -->
      </div><!-- .columns -->
    </div><!-- .row -->


    <div class="row">
      <div class="large-6 columns">
        <h3 class="text-center">Событийный партнер</h3>
        <a class="text-center" style="display:block;" rel="nofollow" target="_blank" href="http://it-sobytie.ru">
          <img class="th" id="" src="{{ STATIC_URL }}i/it-sobytie_logo.jpg" />
        </a>
      </div>

      <div class="large-6 columns">
        <h3 class="text-center">HR-партнер</h3>
        <a class="text-center" style="display:block;" rel="nofollow" target="_blank" href="http://itmozg.ru">
          <!--<img class="th" src="{{ STATIC_URL }}i/geometria_logo.png" />-->
        </a>
      </div>
    </div><!-- .row -->

    <div class="row">
      <div class="large-6 columns">
      </div>

      <div class="large-6 columns">
      </div>
    </div><!-- .row -->

    {% endblock %}

    {% block content %}
      <div class="row">
        {% block main %}
        <a style="display:block;margin-bottom:65px;" data-magellan-destination="about" name="about"></a>
        <div class="large-8 columns">

          <div class="row">
            <div class="large-12 columns">

              <div class="section-container accordion" data-section="accordion">
                <section class="section active">
                  <p class="title">
                    <a href="#">О хакатоне</a>
                  </p>
                  <div class="content">
                    <p>Хакпоинт — это 48-часовой марафон, в котором программисты-добровольцы обязуются выдать в результате суточного кодинга что-то светлое, доброе и вечное. Ну, или как минимум, нужное. А если не нужное, то забавное.</p>
                    <p>Главный принцип мероприятия — получить удовольствие от процесса, сделать то, до чего давно не доходили руки или экспромтом выдать гениальный проект! А попутно познакомиться с гениальными себе подобными, узнать новые интересные фичи и что-то новое в области технологий.</p>
                  </div>
                </section>
                <section class="section">
                  <p class="title">
                    <a href="#">Программа</b></a>
                  </p>
                  <div class="content">
                    <dl>
                      <dt>Пятница</dt>
                      <dd>
                      18.00 &ndash; 18.30 &mdash; регистрация участников<br>
                      19.00 &ndash; 19.30 &mdash; приветственное слово организаторов и генральных спонсоров<br>
                      19.30 &ndash; 20.00 &mdash; Питч идей<br>
                      20.00 &ndash; 21.00 &mdash; Networking (к 21.00 участники должны определиться с проектом)<br>
                      20.00 &ndash; &laquo;утро&raquo; &mdash; работа над проектами<br>
                      </dd>
                    </dl>
                    <dl>
                      <dt>Суббота</dt>
                      <dd>
                      10.00 &ndash; 11.00 &mdash; завтрак<br>
                      11.00 &ndash; 12.00 &mdash;  checkpoint<br>
                      12.00 &ndash; 13.00 &mdash;  работа над проектами<br>
                      13.00 &ndash; 14.00 &mdash;  обед<br>
                      14.00 &ndash; 15.00 &mdash;  менторские сессии<br>
                      15.15 &ndash; 19.00 &mdash;  работа над проектом<br>
                      19.00 &ndash; 20.00 &mdash;  ужин<br>
                      20.00 &ndash; 21.00 &mdash;  сheckpoint<br>
                      21.00 &ndash; &laquo;утро&raquo; &mdash; работа над проектами<br>
                      </dd>
                    </dl>
                    <dl>
                      <dt>Воскресенье</dt>
                      <dd>
                      09.00 &ndash; 10.00 &mdash; завтрак<br>
                      10.00 &ndash; 11.00 &mdash; checkpoint<br>
                      11.00 &ndash; 13.00 &mdash; работа над проектами<br>
                      13.00 &ndash; 14.00 &mdash; обед<br>
                      14.00 &ndash; 15.00 &mdash; резервное время<br>
                      15.00 &ndash; 18.00 &mdash; работа над проектами<br>
                      18.00 &ndash; 19.00 &mdash; demoFest() + coffeeSession()<br>
                      19.00 &ndash; 20.00 &mdash; подведение итогов<br>
                      </dd>
                    </dl>
                  </div>
                </section>
                <section class="section">
                  <p class="title">
                    <a href="#">Номинации и призы</a>
                  </p>
                  <div class="content">
                    <p>Для каждого участника лучшего технического проекты &mdash; призы.<br>
                    Спецприз для участника от нашего партнера.</br>
                    Лучшему участнику в каждой роли &mdash; поощрителные призы.
                    </p>
                  </div>
                </section>
                <section class="section">
                  <p class="title">
                    <a href="#">Менторы и наставники</a>
                  </p>
                  <div class="content">
                    <p>В процессе поиска. Если вам есть, о чем рассказать и вы хотите помочь  проекту, пишите на наш email <a href="mailto:info@hackpoint.ru">info@hackpoint.ru</a></p>
                  </div>
                </section>
                <section class="section">
                  <p class="title">
                    <a href=#">Питание</a>
                  </p>
                  <div class="content">
                    <p>Трехразовое питание бесплатно.</p>
                    <h4>Завтрак</h4>
                    <ul>
                      <li>Кофе</li>
                      <li>Пирожок с мясом (или бутерброд с колбасой)</li>
                    </ul>
                    <h4>Обед</h4>
                    <ul>
                      <li>Винигрет (или салат овощной на выбор)</li>
                      <li>Борщ с капустой и картофелем со сметаной (или Солянка по-домашнему)</li>
                      <li>Рис отварной с маслом (или картофельное пюре)</li>
                      <li>Биточки школьные жареные (или Окорочок жар. майонез/чеснок)</li>
                    </ul>
                    <h4>Ужин</h4>
                    <ul>
                      <li>Чай</li>
                      <li>Сырники творожные (или блины с мясом/сметаной)</li>
                    </ul>

                    <p><b>Для вегитарианцев предусмотрены отдельные блюда. Если вам нужно что-то без мяса, просим заранее сообщить об этом организаторам.</b></p>
                  </div>
                </section>
              </div>

            </div>
          </div>
        </div>
        {% endblock %}

        {% block sidebar %}
          <div class="large-4 columns">
            {% include 'includes/_vk.html' %}
            <br>
            {% include 'includes/_twitter.html' %}
          </div>
        {% endblock %}
      </div>

      {% block additional %}
      <a style="display:block;margin-bottom:65px;" data-magellan-destination="who" name="who"></a>
      <div class="row">
        <div class="large-12 columns">
          <h3>Кто будет участвовать на хакпоинте</h3>
          <div class="panel">
            <div class="row">
              <div class="small-4 columns">
                <img class="th" src="http://placekitten.com/g/200/200">
                <p><span class="label">Девелоперы</span> &mdash; программисты, верстальщики, hardware-инженеры и все те, кто пишут код и непосредственно управляют созданием софта или железяки.</p>
              </div>
              <div class="small-4 columns">
                <img class="th" src="http://placekitten.com/g/250/200">
                <p><span class="label">Дизайнеры</span> &mdash; интерфейсов, графические, гейм-дизайнеры и все те, кто знает, как отобразить идею из головы на бумагу.</p>
              </div>
              <div class="small-4 columns">
                <img class="th" src="http://placekitten.com/g/200/250">
                <p><span class="label">Менеджеры</span> &mdash; проектов, по продажам и все те, кто знает как вывести интернет-продукт на рынок и сделать стартап успешным.</p>
              </div>
            </div>

            <div class="row">
              <div class="large-12 columns">
                <p><span class="label">Не нашли</span> то, что искали или не относите себя ни к кому из вышеперечисленных ролей? Все равно регистрируйтесь и укажите ваши полезные навыки или опыт. Мы поможем вам с выбором команды и проекта!</p>
                <p>Участие бесплатно.</p>
              </div>
            </div>

          </div>
        </div>
      </div>

      <div class="row">
        <div class="large-12 columns">
          <div class="row collapse">
            <form id="register_simple2" method="post">
              {% csrf_token %}
              <div class="large-7 columns">
                <input type="text" id="id_email" name="email" placeholder="Напишите ваш email">
              </div>
              <div class="large-5 columns">
                <input type="submit" class="postfix button expand" value="Зарегистрироваться">
              </div>
            </form>
          </div>
        </div>
      </div>
      {% endblock %}

    {% endblock %}

  {% endblock %}
  </div>

  <div id="copyright">
    <div class="row">
      <div class="large-8 columns">
        <p>Точка превращения идеи в прототип &copy; 2013 Hackpoint.ru</p>
      </div>
      <div class="large-4 columns">
        <dl class="sub-nav right">
        <dd><a href="#">Главная</a></dd>
        <dd><a href="#">О нас</a></dd>
        <dd><a href="#">Партнеры</a></dd>
        </dl>
      </div>
    </div>
  </div>

  {% assets  "all_js" %}
    <script type="text/javascript" language="javascript" src="{{ ASSET_URL }}" charset="utf-8">
        // <![CDATA[// ]]>
    </script>
  {% endassets %}

  {% block extrajs %}{% endblock %}

  {% include 'includes/_register.html' %}
  {% include 'includes/_sponsorship.html' %}
  {% include 'includes/_metrika.html' %}

</body>
</html>
