/* Artfully masterminded by ZURB  */

/* -------------------------------------------------- 
   Table of Contents
-----------------------------------------------------
:: Main page
:: Shared Styles
:: Page Name 1
:: Twitter widget
*/



/* -----------------------------------------
  Main page
----------------------------------------- */
html, body {
    height:100%;
}
.wrapper {
    min-height:100%;
    padding-bottom:60px;
}

#logo a {
    width: 228px;
    height: 135px;
    background: url(../i/hackpoint_logo.png) no-repeat -50px -25px;
    display: block;
    text-indent: -9999px;
}
.top-bar, .top-bar.expanded .title-area {
    background:transparent;
}
.top-bar-section ul li.active a {
    color:#fff;
}

#slogan {
    text-align:center;
}

#usermenu {
    border:1px solid #d9d9d9;
}

#usermenu li a {
    color:#6f6f6f;
}

#usermenu li a:hover {
    color:#fff;
}

#where {
    margin-top:80px;
    z-index:9;
}

a.social {
    text-indent: -9999px;
    display:block;
    width:60px;
    height:60px
}

a.social.vk {
    background: url(../i/vkontakte.png) no-repeat left center;
}
a.social.twi {
    background: url(../i/twitter.png) no-repeat left center;
}
a.social.fb {
    background: url(../i/facebook.png) no-repeat left center;
}
a.social.gplus {
    background: url(../i/google_plus.png) no-repeat left center;
}

#copyright {
    background: #3f3f3f;
    color: #fff;
    margin-top: -60px;
    padding: 25px 0;
    height:60px;
}

#copyright p, #copyright dl {
    margin-bottom:0;
}

#cmirit_logo, #itvologda_logo, #torgovorot_logo {
    background:#fff;
}

#cheritclub_logo {
    background:#4c6e76;
}

#imit_logo {
    background:#29478d;
}
#volbiz_logo {
    background:#fff;
    margin-top:40px;
    margin-bottom:20px;
}

#synapse_logo {
    background:#fff;
    margin-top:40px;
}

/* -----------------------------------------
   Error list
----------------------------------------- */
.errorlist {
    display: block;
    padding: 0.375em 0.25em;
    margin-top: -1.3125em;
    margin-bottom: 1em;
    font-size: 0.75em;
    font-weight: bold;
    background: #c60f13;
    color: white;
}
.errorlist li {}


/* -----------------------------------------
   User profiles list
----------------------------------------- */

.user_list dt {
    margin-top:2em;
}



/* -----------------------------------------
  TWITTER widget 
----------------------------------------- */

.twtr-doc, .twtr-timeline {
    -moz-border-radius:0 !important;
    -webkit-border-radius:0 !important;
    border-radius:0 !important;
}

#twitter-widget-0 {
    height:300px;
}
