/* Artfully masterminded by ZURB  */

/* --------------------------------------------------
   Table of Contents
-----------------------------------------------------
:: Main page
:: Shared Styles
:: User profiles list
:: User projects list
:: Twitter widget
*/



/* -----------------------------------------
  Main page
----------------------------------------- */
html, body {
    height:100%;
}
body {
    color: #414141;
}
h5, h4, h3 {
    color: #565656;
}
.subheader {
    color:#a19b8c;
}
h4.subheader {
    font-size: 18px;
}
.button {
    background-color: #0096ef;
}
button:hover, button:focus, .button:hover, .button:focus {
    background-color: #0074bb;
}
.wrapper {
    min-height:100%;
    padding-bottom:60px;
}
.block-wrapper {
    background:#f6f6f6;
    margin-top:2em;
    padding:1em 0 1em 0;
}
.block-wrapper-partners {
    background:url(../i/sponsor_pattern.jpg);
    padding:2em 0 1em 0;
    border-bottom: 1px solid #a2a2a2;
}
.block-wrapper-register {
    background: #bee2f7;
    padding:2em 0 1em 0;
    border-bottom: 1px solid #a2a2a2;
}
.block-wrapper-people {
    background:url(../i/register_pattern.jpg);
    padding:2em 0 3em 0;
    border-bottom: 1px solid #a2a2a2;
}
.block-wrapper-people h5 {
    font-size: 14px;
    color: #414141;
}
.block-wrapper-people h4.subheader {
    font-size: 18px;
}
.block-wrapper-people a.features {
    display:block;
    text-align: center;
    margin-bottom:20px;
}
.block-wrapper-people .large-2 {
    padding: 0 5px;
}
.block-wrapper-team {
    margin:0;
}
.block-wrapper-team .large-4 {
    padding: 0 5px;
}
.block-wrapper-team p {
    font-size:14px;
}
.sample-project {
    border-radius: 200px;
    margin: 0 auto 20px;
    display: block;
    width: 200px;
    height: 200px;
    text-align: center;
    border: 1px solid #7f7f7f;
    overflow: hidden;
    margin-top:10px;
    background:#fff;
}
.sample-project img {
    padding-top:30px;
}
.sample-sponsor {
    border-radius: 200px;
    margin: 0 auto 20px;
    display: block;
    width: 150px;
    height: 150px;
    text-align: center;
    border: 1px solid #7f7f7f;
    overflow: hidden;
    margin-top:10px;
    background:#fff;
}
.sample-sponsor img {
    /*padding-top: 25px;*/
}
.sample-project:hover,
.sample-sponsor:hover {
    border: 1px solid #0066a4;
}
.block-wrapper-people .sample-sponsor {
    padding-top: 15px;
}

#logo a {
    width: 228px;
    height: 135px;
    background: url(../i/hackpoint_logo.png) no-repeat -50px -25px;
    display: block;
    text-indent: -9999px;
}
.top-bar, .top-bar.expanded .title-area {
    background:transparent;
}
.top-bar-section ul li.active a {
    color:#fff;
}

#slogan {
    text-align:center;
}

#usermenu {
    border:1px solid #d9d9d9;
}

#usermenu li a {
    color:#6f6f6f;
}

#usermenu li a:hover {
    color:#fff;
}

#where {
    margin-top:80px;
    z-index:9;
}

a.social {
    text-indent: -9999px;
    display:block;
    width:60px;
    height:60px
}

a.social.vk {
    background: url(../i/vkontakte.png) no-repeat left center;
}
a.social.twi {
    background: url(../i/twitter.png) no-repeat left center;
}
a.social.fb {
    background: url(../i/facebook.png) no-repeat left center;
}
a.social.gplus {
    background: url(../i/google_plus.png) no-repeat left center;
}

#copyright {
    background: #3f3f3f;
    color: #fff;
    margin-top: -60px;
    padding: 25px 0;
    height:60px;
}

#copyright p, #copyright dl {
    margin-bottom:0;
}

#cmirit_logo, #itvologda_logo, #torgovorot_logo, #trilan_logo,
#risventures_logo, #pm_logo, #adrem_logo, #ka_logo {
    background:#fff;
}

#cheritclub_logo {
    background:#4c6e76;
}

#imit_logo {
    background:#29478d;
}
#volbiz_logo {
    background:#fff;
}

#synapse_logo {
    background:#fff;
}

#geometria_logo {
    background:#fff
}
#koshelev_logo {
    display: block;
    padding: 20px;
    background: #fff;
}

/* -----------------------------------------
   Shared Styles
----------------------------------------- */
.errorlist {
    display: block;
    padding: 0.375em 0.25em;
    margin-top: -1.3125em;
    margin-bottom: 1em;
    font-size: 0.75em;
    font-weight: bold;
    background: #c60f13;
    color: white;
}
.errorlist li {}

.profile-menu img {
    vertical-align:middle;
}

/* -----------------------------------------
   User profiles list
----------------------------------------- */

.user_list dt {
    margin-top:2em;
}
.skills {
    word-wrap: break-word;
}

/* -----------------------------------------
   User projects list
----------------------------------------- */

#id_text_idea {
    height:180px;
}

.project_detail {
    margin-bottom:30px;
}


/* -----------------------------------------
  TWITTER widget
----------------------------------------- */

.twtr-doc, .twtr-timeline {
    -moz-border-radius:0 !important;
    -webkit-border-radius:0 !important;
    border-radius:0 !important;
}

#twitter-widget-0 {
    height:300px;
}
