/* Artfully masterminded by ZURB  */

/* -------------------------------------------------- 
   Table of Contents
-----------------------------------------------------
:: Shared Styles
:: Page Name 1
:: Page Name 2
*/

#logo a {
    width: 228px;
    height: 135px;
    background: url(../i/hackpoint_logo.png) no-repeat -50px -25px;
    display: block;
    text-indent: -9999px;
}
.top-bar {
    background:transparent;
}
.top-bar-section ul li.active a {
    color:#fff;
}

#slogan {
    text-align:center;
}

#where {
    margin-top:80px;
    z-index:9;
}

a.social {
    text-indent: -9999px;
    display:block;
    width:60px;
    height:60px
}

a.social.vk {
    background: url(../i/vkontakte.png) no-repeat left center;
}
a.social.twi {
    background: url(../i/twitter.png) no-repeat left center;
}
a.social.fb {
    background: url(../i/facebook.png) no-repeat left center;
}
a.social.gplus {
    background: url(../i/google_plus.png) no-repeat left center;
}

#copyright {
    background: #3f3f3f;
    color: #fff;
    padding: 11px 0;
    margin-top: 30px;
}

#cmirit {
    background:#fff;
}

#cheritclub {
    background:#4c6e76;
}

/* -----------------------------------------
   Shared Styles
----------------------------------------- */



/* -----------------------------------------
   Page Name 1
----------------------------------------- */




/* -----------------------------------------
   Page Name 2
----------------------------------------- */

.twtr-doc, .twtr-timeline {
    -moz-border-radius:0 !important;
    -webkit-border-radius:0 !important;
    border-radius:0 !important;
}
