<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <title>Title</title>
</head>
<body style="padding-top: 0; padding-right: 0; padding-bottom: 0; padding-left: 0; margin-top: 0; margin-right: 0; margin-bottom: 0; margin-left: 0;">
<div style="background: #dfdfdf; padding:20px;">
  <table width="700" cellpadding="0" cellspacing="0" align="center" border="0" bgcolor="#ffffff" style="font-family: 'Myriad Pro', Arial,sans-serif; background-color: #ffffff; border: 0;padding:20px;">
    <tr>
      <td style="padding-top: 10px;">
        <table width="100%" cellspacing="0" cellpadding="0" border="0" style="border: 0;">
          <tr>
            <td style="width:230px; padding-bottom:20px;">
              <a href="http://hackpoint.ru"><img src="http://hackpoint.ru/static/i/hackpoint_logo_email.png" alt="" border="0" style="border:0;"></a>
            </td>
            <td style="color: #7d7d7d;">
              <table width="100%" cellspacing="0" cellpadding="0" border="0" style="border: 0;">
                <tr>
                  <td style="padding-top: 2px; font-size: 16px; font-weight:bold; text-align:right;">Точка превращения идеи в прототип<br>22-24 ноября 2013 г.</td>
                </tr>
              </table>
          </td>
          </tr>
        </table>
      </td>
    </tr>
    <tr>
      <td height="2" style="background-color: #208eeb; font-size: 0; line-height: 0;"></td>
    </tr>

    <tr>
      <td style="padding-top: 10px;">
        <table width="100%" cellspacing="0" cellpadding="0" border="0" style="border: 0;">
          <tr>
            <td>
            </td>
            <td style="color: #7d7d7d;">
              <table width="100%" cellspacing="0" cellpadding="0" border="0" style="border: 0;">
                <tr>
                  <td style="padding-top: 4px; letter-spacing: -0.35px; font-size: 14px;"><a style="color:#0b4576; " href="mailto:info@hackpoint.ru" target="_blank">info@hackpoint.ru</a></td>
                  <td style="padding-top: 4px; letter-spacing: -0.35px; font-size: 14px; text-align:right;">Работа со спонсорами</td>
                </tr>
                <tr>
                  <td style="padding-top: 4px; letter-spacing: -0.35px; font-size: 14px;"><a style="color:#0b4576;" href="http://vk.com/hackpoint" target="_blank">vk.com/hackpoint</a></td>
                  <td style="padding-top: 4px; letter-spacing: -0.35px; font-size: 14px;text-align:right;">Голубев Олег: <span style="font-weight:bold;">+7 909 598 1198</span></td>
                <tr>
                  <td style="padding-top: 4px; letter-spacing: -0.35px; font-size: 14px;"><a style="color:#0b4576;" href="http://habrahabr.ru/post/188086/" target="_blank">habrahabr.ru/post/188086/</a></td>
                  <td style="padding-top: 14px; letter-spacing: -0.35px; font-size: 14px; text-align:right;">Организационные вопросы</td>
                </tr>
                <td></td>
                  <td style="padding-top: 4px; letter-spacing: -0.35px; font-size: 14px; text-align:right;">Шохин Леонид: <span style="font-weight:bold;">+7 900 540 4704</span></td>
                </tr>
              </table>
          </td>
          </tr>
        </table>
      </td>
    </tr>

    <tr>
      <td style="font-size: 24px; color: #00000; font-weight: bold; padding-top: 27px;">Лучшие IT-специалисты и компании Вологодской области и всего Северо-Запада 22-24 ноября будут у нас!</td>
    </tr>
    <tr>
      <td style="padding-top: 36px;">
        <table width="100%" cellspacing="0" cellpadding="0" border="0" style="border: 0;">
          <tr>
            <td style="vertical-align: top; font-size: 22px; color: #7d7d7d; padding-left: 2px;">Станьте нашим партнером и спонсором</td>
          </tr>
        </table>
      </td>
    </tr>
    <tr>
      <td style="padding-top: 14px;border-bottom:1px solid #208eeb;"></td>
    </tr>
    <tr>
      <td style="vertical-align: top; border-left: 1px solid #208eeb; border-right: 1px solid #208eeb;">
        <table width="100%" cellspacing="0" cellpadding="0" border="0" style="border: 0; background-color: #f8f8f8; padding-bottom: 22px;">
          <tr>
            <td style="vertical-align: top; padding-left: 21px; padding-top: 11px;">
              <div  style="font-size: 15px; color: #7d7d7d; font-weight: normal; padding-right: 15px;">
                С 19 по 21 апреля в г. Череповце прошел первый в Вологодской области Хататон под названием «HackPoint». Теперь мы объявляем о запуске проекта «HackPoint 2.0».<br><br>
                <b>«HackPoint»</b> это дружеское соревнование между командами разрабочиков. К участию приглашаем IT-специалисов (программистов, дизайнеров, менеджеров и др.) со своими идеями IT-проектов или без них. В рамках мероприятия участники презентуют идеи друг перед другом, набирают команды для работы над проектом из числа других участников. <br><br> В течение 48 часов, работая в команде на площадке мероприятия, участники реализуют прототип проекта. Результаты работы они представляют на суд жюри, которое определяет лучших, награждая их призами и подарками.
              </div>
            </td>
          </tr>
        </table>
      </td>
    </tr>
    <tr>
      <td style="border-top:1px solid #208eeb"></td>
    </tr>

    <tr>
      <td style="vertical-align: top;">
        <table width="100%" cellspacing="0" cellpadding="0" border="0" style="border: 0; padding-bottom: 22px;">
          <tr>
            <td style="vertical-align: top; padding-left: 21px; padding-top: 11px;">
              <div  style="font-size: 15px; color: #7d7d7d; font-weight: normal; padding-right: 15px;">
                Результаты первого прошедшего мероприятия Вы можете прочитать в статье <a style="#0b4576;" href="http://habrahabr.ru/post/188086/" target="_blank">«HackPoint. Опыт самостоятельной организации провинциального хакатона с нуля».</a><br><br>
              </div>
            </td>
          </tr>
          <tr>
            <td style="font-style:italic; border-left:1px solid #dfdfdf; border:1px solid #dfdfdf; vertical-align: top; padding-left: 21px; padding-top: 11px;">
              <div  style="font-size: 18px; color: #7d7d7d; font-weight: normal; padding-right: 15px;padding-bottom:11px;">
                «HackPoint» - это отличная возможность сформировать позитивное мнение о Вас в IT-сообществе, прорекламировать свои продукты и услуги среди целевой аудитории.
              </div>
            </td>
          </tr>
        </table>
      </td>
    </tr>

    <tr>
      <td style="vertical-align: top;">
        <table width="100%" cellspacing="0" cellpadding="0" border="0" style="border: 0; padding-bottom: 22px;">
          <tr>
            <td style="vertical-align: top; padding-top: 11px;">
              <!--<img src="http://hackpoint.ru/static/photos/_c4gB0qIoVc.jpg">-->
              <img src="http://placekitten.com/g/700/200">
            </td>
          </tr>
        </table>
      </td>
    </tr>

    <tr>
      <td style="padding-top: 36px;">
        <table width="100%" cellspacing="0" cellpadding="0" border="0" style="border: 0;">
          <tr>
            <td style="vertical-align: top; font-size: 22px; color: #7d7d7d; padding-left: 2px;">Что мы предлагаем</td>
          </tr>
        </table>
      </td>
    </tr>
    <tr>
      <td style="padding-top: 14px;border-bottom:1px solid #208eeb;"></td>
    </tr>
    <tr>
      <td style="vertical-align: top; border-left: 1px solid #208eeb; border-right: 1px solid #208eeb;">
        <table width="100%" cellspacing="0" cellpadding="0" border="0" style="border: 0; background-color: #f8f8f8; padding-bottom: 22px;">
          <tr>
            <td style="vertical-align: top; padding-left: 21px; padding-top: 11px;">
              <h4 style="margin:0;">Поиск сотрудников</h4>
              <div  style="font-size: 15px; color: #7d7d7d; font-weight: normal; padding-right: 15px;">
                Мы предлагаем Вам получить возможность общения с лучшими специалистами IT-индустрии Вологодчины и соседних регионов. Как понять, что они лучшие? Посмотрите на результаты их работы в конце мероприятия – это уникальный шанс оценить кадры не только при помощи собеседования, но и увидев их в работе.<br><br>
              </div>
            </td>
          </tr>

          <tr>
            <td style="vertical-align: top; padding-left: 21px; padding-top: 11px;">
              <h4 style="margin:0;">Разработка вашего проекта</h4>
              <div  style="font-size: 15px; color: #7d7d7d; font-weight: normal; padding-right: 15px;">
                Если у Вас есть идеи проектов, на которые не хватает времени, людей, средств – Вы можете презентовать свою идею в качестве проекта от спонсора и набрать команду под реализацию Вашей задумки прямо на нашем мероприятии.<br><br>
              </div>
            </td>
          </tr>

          <tr>
            <td style="vertical-align: top; padding-left: 21px; padding-top: 11px;">
              <h4 style="margin:0;">Поиск партнеров</h4>
              <div  style="font-size: 15px; color: #7d7d7d; font-weight: normal; padding-right: 15px;">
                Вы можете познакомиться с представителями других IT-компаний и договориться о сотрудничестве или даже реализации совместных проектов.<br><br>
              </div>
            </td>
          </tr>

          <tr>
            <td style="vertical-align: top; padding-left: 21px; padding-top: 11px;">
              <h4 style="margin:0;">Реклама</h4>
              <div  style="font-size: 15px; color: #7d7d7d; font-weight: normal; padding-right: 15px;">
                Мы предлагаем разместить на нашей площадке рекламу Вашей компании в различных форматах: размещение баннера, листовок, размещение лого компании на фоновом стенде (Press Wall), предоставление возможности выступления представителя компании, раздача фирменных подарков от Вашей компании. Возможно обсуждение других вариантов размещения рекламы.
              </div>
            </td>
          </tr>

        </table>
      </td>
    </tr>

    <tr>
      <td style="border-top:1px solid #208eeb;"></td>
    </tr>

    <tr>
      <td style="font-size: 22px; color: #7d7d7d; padding-top: 36px; padding-left: 2px;">Варианты сотрудничества со спонсорами</td>
    </tr>

    <tr>
      <td style="padding-top: 14px;border-bottom:0px solid #208eeb;"></td>
    </tr>

    <tr>
      <td style="vertical-align: top;">
        <table cellspacing="0" cellpadding="0" border="0" style="border: 0; width: 697px;">
          <tr>
            <td style="vertical-align: top; background-color: #fff; height: 58px;">
              <table width="100%" cellspacing="0" cellpadding="0" border="0" style="border: 0;">
                <tr>
                  <td style="vertical-align: middle; font-weight: bold; color: #000000; font-size: 16px; width: 149px;background:#fff;padding-left:20px;">
                    Информационный партнер
                  </td>
                  <td style="color: #7d7d7d; vertical-align: top; padding: 7px;font-size: 15px;background:#fff;">
                    Размещение логотипа HackPoint на сайте партнера и публикация партнером анонса, ссылки на мероприятие и отчета о мероприятии в новостях. HackPoint в свою очередь размещает ссылку на сайт-партнер и на новость на сайте-партнере, предоставляет отчет о мероприятии.
                  </td>
                </tr>
              </table>
            </td>
          </tr>
          <tr>
            <td style="padding-top: 3px; vertical-align: top;padding-left:20px;background:#f4f4f4;">
              <table width="100%" cellspacing="0" cellpadding="0" border="0" style="border: 0; background: #f4f4f4; height: 37px;">
                <tr>
                  <td style="font-weight: bold; color: #000000; font-size: 16px; width: 148px; vertical-align: middle;">Спонсор</td>
                  <td style="color: #7d7d7d; vertical-align: top; padding-top: 7px;padding-left:7px;padding-right:7px; font-size: 15px;">
                    Спонсорский взнос 10 000 руб.<span style="color:red; font-size:16px;">*</span>
                  </td>
                </tr>
              </table>
            </td>
          </tr>

          <tr>
            <td style="padding-top: 3px; vertical-align:top; padding-left:20px;background:#fff;">
              <table width="100%" cellspacing="0" cellpadding="0" border="0" style="border: 0; background: #fff; height: 37px;">
                <tr>
                  <td style="font-weight: bold; color: #000000; font-size: 16px; width: 148px; vertical-align: middle;background:#fff;">Золотой спонсор</td>
                  <td style="color: #7d7d7d; vertical-align: top; padding-top: 7px;padding-left:7px;padding-right:7px; font-size: 15px;background:#fff;">
                    Спонсорский взнос 15 000 руб.<span style="color:red; font-size:16px;">*</span>
                  </td>
                </tr>
              </table>
            </td>
          </tr>

          <tr>
            <td style="padding-top: 3px; vertical-align: top;padding-left:20px;background:#f4f4f4;">
              <table width="100%" cellspacing="0" cellpadding="0" border="0" style="border: 0; background: #f4f4f4; height: 37px;">
                <tr>
                  <td style="font-weight: bold; color: #000000; font-size: 16px; width: 148px; vertical-align: middle;">Генеральный спонсор</td>
                  <td style="color: #7d7d7d; vertical-align: top; padding: 7px;font-size: 15px;">
                    Индивидуальные условия. В качестве генерального спонсора может выступать только одна компания.
                  </td>
                </tr>
              </table>
            </td>
          </tr>
        </table>
      </td>
    </tr>

    <tr>
      <td style="padding-top: 14px;border-bottom:0px solid #208eeb;"></td>
    </tr>

    <tr>
      <td style="font-size:12px;">
        <span style="color:red; font-size:16px;">*</span> Возможно обсуждение индивидуальных условий участия спонсора в мероприятии не только в виде финансовой помощи, но и в виде предоставления материальных ресурсов и услуг.
      </td>
    </tr>

    <tr>
       <td style="vertical-align: top; padding-top: 16px;">
         <table width="100%" cellspacing="0" cellpadding="0" border="0" style="border: 0;">
           <tr>
             <td style="width: 341px;">
               <table width="100%" cellspacing="0" cellpadding="0" border="0" style="border: 0;">
                <tr>
                  <td><img src="http://hackpoint.ru/static/i/bottom-block-top-border.png" alt=""></td>
                </tr>
                 <tr>
                   <td style="vertical-align: top; padding-left: 21px; padding-top: 11px; background-color: #f8f8f8; border-left: 1px solid #dfdfdf; border-right: 1px solid #dfdfdf;">
                     <div style="font-size: 17px; color: #000000; font-weight: bold;">Информационный партнер</div>
                     <div style="font-size: 14px; color: #7d7d7d; font-weight: normal; padding-top: 13px; padding-right: 15px; padding-bottom: 10px;">
                        Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea com modo consequat. Duis aute irure dolor in reprehe nderit in on ullamco laboris voluptate. <br> Velit esse cillum dolore eu fugiat nulla pariatu. Excepteur sint occaecat cupid atat on ullamco laborisnon proident, sunt in culpa qui officia deserunt on ullamco laborismollit anim id est laborum. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eius mod tempor incid idunt ut labore et dolore magna aliqua.
                    </div>
                   </td>
                 </tr>
                 <tr>
                   <td><img src="http://hackpoint.ru/static/i/bottom-block-bottom-border.png" alt=""></td>
                 </tr>
               </table>
             </td>
             <td>&nbsp;</td>
             <td style="width: 341px;">
               <table width="100%" cellspacing="0" cellpadding="0" border="0" style="border: 0;">
                <tr>
                  <td><img src="http://hackpoint.ru/static/i/bottom-block-top-border.png" alt=""></td>
                </tr>
                 <tr>
                   <td style="vertical-align: top; padding-left: 21px; padding-top: 11px; background-color: #f8f8f8; border-left: 1px solid #dfdfdf; border-right: 1px solid #dfdfdf;">
                     <div style="font-size: 17px; color: #000000; font-weight: bold;">Спонсор</div>
                     <div style="font-size: 14px; color: #7d7d7d; font-weight: normal; padding-top: 13px; padding-right: 15px; padding-bottom: 10px;">
                        Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea com modo consequat. Duis aute irure dolor in reprehe nderit in on ullamco laboris voluptate. <br> Velit esse cillum dolore eu fugiat nulla pariatu. Excepteur sint occaecat cupid atat on ullamco laborisnon proident, sunt in culpa qui officia deserunt on ullamco laborismollit anim id est laborum. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eius mod tempor incid idunt ut labore et dolore magna aliqua.
                    </div>
                   </td>
                 </tr>
                 <tr>
                   <td><img src="http://hackpoint.ru/static/i/bottom-block-bottom-border.png" alt=""></td>
                 </tr>
               </table>
             </td>
           </tr>
         </table>
       </td>
     </tr>

    <tr>
       <td style="vertical-align: top; padding-top: 16px;">
         <table width="100%" cellspacing="0" cellpadding="0" border="0" style="border: 0;">
           <tr>
             <td style="width: 341px;">
               <table width="100%" cellspacing="0" cellpadding="0" border="0" style="border: 0;">
                <tr>
                  <td><img src="http://hackpoint.ru/static/i/bottom-block-top-border.png" alt=""></td>
                </tr>
                 <tr>
                   <td style="vertical-align: top; padding-left: 21px; padding-top: 11px; background-color: #f8f8f8; border-left: 1px solid #dfdfdf; border-right: 1px solid #dfdfdf;">
                     <div style="font-size: 17px; color: #000000; font-weight: bold;">Золотой спонсор</div>
                     <div style="font-size: 14px; color: #7d7d7d; font-weight: normal; padding-top: 13px; padding-right: 15px; padding-bottom: 10px;">
                        Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea com modo consequat. Duis aute irure dolor in reprehe nderit in on ullamco laboris voluptate. <br> Velit esse cillum dolore eu fugiat nulla pariatu. Excepteur sint occaecat cupid atat on ullamco laborisnon proident, sunt in culpa qui officia deserunt on ullamco laborismollit anim id est laborum. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eius mod tempor incid idunt ut labore et dolore magna aliqua.
                    </div>
                   </td>
                 </tr>
                 <tr>
                   <td><img src="http://hackpoint.ru/static/i/bottom-block-bottom-border.png" alt=""></td>
                 </tr>
               </table>
             </td>
             <td>&nbsp;</td>
             <td style="width: 341px;">
               <table width="100%" cellspacing="0" cellpadding="0" border="0" style="border: 0;">
                <tr>
                  <td><img src="http://hackpoint.ru/static/i/bottom-block-top-border.png" alt=""></td>
                </tr>
                 <tr>
                   <td style="vertical-align: top; padding-left: 21px; padding-top: 11px; background-color: #f8f8f8; border-left: 1px solid #dfdfdf; border-right: 1px solid #dfdfdf;">
                     <div style="font-size: 17px; color: #000000; font-weight: bold;">Генеральный спонсор</div>
                     <div style="font-size: 14px; color: #7d7d7d; font-weight: normal; padding-top: 13px; padding-right: 15px; padding-bottom: 10px;">
                        Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea com modo consequat. Duis aute irure dolor in reprehe nderit in on ullamco laboris voluptate. <br> Velit esse cillum dolore eu fugiat nulla pariatu. Excepteur sint occaecat cupid atat on ullamco laborisnon proident, sunt in culpa qui officia deserunt on ullamco laborismollit anim id est laborum. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eius mod tempor incid idunt ut labore et dolore magna aliqua.
                    </div>
                   </td>
                 </tr>
                 <tr>
                   <td><img src="http://hackpoint.ru/static/i/bottom-block-bottom-border.png" alt=""></td>
                 </tr>
               </table>
             </td>
           </tr>
         </table>
       </td>
     </tr>

    <tr>
      <td style="padding-top: 17px; padding-bottom: 7px;">
        <table width="100%" cellspacing="0" cellpadding="0" border="0" style="border: 0;">
          <tr>
            <td style="width: 465px;">
              <a href="http://hackpoint.ru"><img src="http://hackpoint.ru/static/i/hackpoint_logo_email.png" alt="hackpoint" border="0" style="border:0;" width="88"></a>
            </td>
            <td>
              <table width="100%" cellspacing="0" cellpadding="0" border="0" style="border: 0;">
                <tr>
                  <td style="color: #a3a3a3; font-size: 14px;">Следуй за нами</td>
                  <td><a href="https://www.facebook.com/hackpoint.che" target="_blank"><img src="http://hackpoint.ru/static/i/facebook.png" style="border:0;" border="0" width="20" height="20" alt="Follow us on Facebook"></a></td>
                  <td style="text-align: right;"><a href="https://twitter.com/hackpoint_che" target="_blank"><img src="http://hackpoint.ru/static/i/twitter.png" style="border:0;" border="0" width="20" height="20" alt="Follow us on Twitter"></a></td>
                  <td style="text-align: right;"><a href="https://vk.com/hackpoint" target="_blank"><img src="http://hackpoint.ru/static/i/vkontakte.png" style="border:0;" border="0" width="20" height="20" alt="Follow us on vkontakte"></a></td>
                </tr>
              </table>
            </td>
          </tr>
        </table>
      </td>
    </tr>
    <tr>
      <td height="2" style="background-color: #208eeb; font-size: 0; line-height: 0;"></td>
    </tr>
    <tr>
      <td style="padding-top: 10px; text-align: center; color: #777777; font-size: 13px; padding-bottom: 20px; font-weight: normal;">
        <div>Если вас заинтересовало наше предложение, просто напишите нам <a href="mailto:info@hackpoint.ru" target="_blank" style="text-decoration: none; color: #6daccb;">info@hackpoint.ru</a></div>
        <div>
          <div><b>Шохин Леонид:</b> +7 900-540-4704</div>
          <div><b>Голубев Олег:</b> +7 909-598-1198</div></div>
        <div>
          <a target="_blank" href="http://hackpoint.ru" style="text-decoration: none; color: #6daccb;">hackpoint.ru</a> /
          <a target="_blank" href="http://vk.com/hackpoint" style="text-decoration: none; color: #6daccb;">vk.com/hackpoint</a> /
          <a target="_blank" href="http://habr.ru/p/188086/" style="text-decoration: none; color: #6daccb;">habr.ru/p/188086/</a>
        </div>
      </td>
    </tr>
  </table>
</div>
</body>
</html>
