<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <title>Title</title>
</head>
<body style="padding-top: 0; padding-right: 0; padding-bottom: 0; padding-left: 0; margin-top: 0; margin-right: 0; margin-bottom: 0; margin-left: 0;">
<div style="background: #ffffff;">
  <table width="700" cellpadding="0" cellspacing="0" align="center" border="0" bgcolor="#ffffff" style="font-family: 'Myriad Pro', Arial,sans-serif; background-color: #ffffff; border: 0;">
    <tr>
      <td style="padding-top: 10px;">
        <table width="100%" cellspacing="0" cellpadding="0" border="0" style="border: 0;">
          <tr>
            <td style="width: 450px;padding-bottom:20px;">
              <a href="http://hackpoint.ru"><img src="http://hackpoint.ru/static/i/hackpoint_logo_email.png" alt="" border="0" style="border:0;"></a>
            </td>
            <td style="color: #7d7d7d;">
              <table width="100%" cellspacing="0" cellpadding="0" border="0" style="border: 0;">
                <tr>
                  <td style="padding-top: 2px; font-size: 14px;">Точка превращения идеи в прототип</td>
                </tr>
                <tr>
                  <td style="padding-top: 12px; letter-spacing: -0.35px; font-size: 13px;">info@hackpoint.ru</td>
                </tr>
                <tr>
                  <td style="padding-top: 4px; letter-spacing: -0.35px; font-size: 13px;">vk.com/hackpoint</td>
                </tr>
              </table>
          </td>
          </tr>
        </table>
      </td>
    </tr>
    <tr>
      <td height="2" style="background-color: #208eeb; font-size: 0; line-height: 0;"></td>
    </tr>
    <tr>
      <td style="font-size: 24px; color: #00000; font-weight: bold; padding-top: 27px;">Все лучшие IT-специалисты и компании Вологодской области в ноябре будут у нас!</td>
    </tr>
    <tr>
      <td style="padding-top: 18px;">
        <table width="100%" cellspacing="0" cellpadding="0" border="0" style="border: 0;">
          <tr>
            <td style="vertical-align: top; font-size: 22px; color: #7d7d7d; padding-left: 2px;">Вы можете стать нашим партнером</td>
          </tr>
        </table>
      </td>
    </tr>
    <tr>
      <td style="padding-top: 14px;"><img src="http://hackpoint.ru/static/i/top-border.png" alt="" border="0" style="border:0;"></td>
    </tr>
    <tr>
      <td style="vertical-align: top; border-left: 1px solid #dfdfdf; border-right: 1px solid #dfdfdf;">
        <table width="100%" cellspacing="0" cellpadding="0" border="0" style="border: 0; background-color: #f8f8f8; padding-bottom: 22px;">
          <tr>
            <td style="vertical-align: top; padding-left: 21px; padding-top: 11px;">
              <div  style="font-size: 15px; color: #7d7d7d; font-weight: normal; padding-right: 15px;">
                С 19 по 21 апреля в г. Череповце прошел первый в Вологодской области Хататон под названием «HackPoint». Мы объявляем о запуске проекта «HackPoint 2.0».<br><br>
                <b>«HackPoint»</b> это мероприятие, куда к участию приглашаются IT-специалисты (программисты, дизайнеры, менеджеры и др.) со своими идеями IT-проектов или без них. В рамках мероприятия участники презентуют свои идеи друг перед другом, набирают команды для работы над своим проектом из числа других участников. <br><br> В течение 48 часов, работая в команде на площадке мероприятия, участники реализуют свой прототип проекта. Результаты своей работы они представляют на суд жюри, которое определяет лучшие работы, награждая их призами и подарками.
              </div>
            </td>
          </tr>
        </table>
      </td>
    </tr>
    <tr>
      <td><img src="http://hackpoint.ru/static/i/bottom-border.png" alt="" border="0" style="border:0;"></td>
    </tr>

    <tr>
      <td style="padding-top: 18px;">
        <table width="100%" cellspacing="0" cellpadding="0" border="0" style="border: 0;">
          <tr>
            <td style="vertical-align: top; font-size: 22px; color: #7d7d7d; padding-left: 2px;">Что мы предлагаем</td>
          </tr>
        </table>
      </td>
    </tr>
    <tr>
      <td style="padding-top: 14px;"><img src="http://hackpoint.ru/static/i/top-border.png" alt="" border="0" style="border:0;"></td>
    </tr>
    <tr>
      <td style="vertical-align: top; border-left: 1px solid #dfdfdf; border-right: 1px solid #dfdfdf;">
        <table width="100%" cellspacing="0" cellpadding="0" border="0" style="border: 0; background-color: #f8f8f8; padding-bottom: 22px;">
          <tr>
            <td style="vertical-align: top; padding-left: 21px; padding-top: 11px;">
              <div  style="font-size: 15px; color: #7d7d7d; font-weight: normal; padding-right: 15px;">
                Если Вы ищите сотрудников, мы предлагаем Вам получить возможность общения с лучшими специалистами IT-индустрии Вологодчины и соседних регионов. Как понять, что они лучшие? Посмотрите на результаты их работы в конце мероприятия – это уникальный шанс оценить кадры не только при помощи собеседования, но и увидев их в работе.<br><br>
                Если у Вас есть идеи проектов, на которые не хватает времени, людей, средств – Вы можете презентовать свою идею в качестве проекта от спонсора и набрать команду под реализацию Вашей задумки прямо на нашем мероприятии.<br><br>
                Кроме того, мы предлагаем разместить на нашей площадке рекламу Вашей компании в различных форматах: размещение баннера, листовок, размещение лого компании на фоновом стенде (Press Wall), предоставление возможности выступления представителя компании, раздача фирменных подарков от Вашей компании. Возможно обсуждение других вариантов размещения рекламы.<br><br>
                <b>«HackPoint»</b> - это отличная возможность сформировать позитивное мнение о компании-спонсоре в IT-сообществе, прорекламировать свои продукты и услуги среди целевой аудитории.
              </div>
            </td>
          </tr>
        </table>
      </td>
    </tr>
    <tr>
      <td><img src="http://hackpoint.ru/static/i/bottom-border.png" alt="" border="0" style="border:0;"></td>
    </tr>


    <tr>
      <td style="font-size: 22px; color: #7d7d7d; padding-top: 18px; padding-left: 2px;">Варианты сотрудничества со спонсорами</td>
    </tr>
    <tr>
      <td style="padding-top: 14px;"><img src="http://hackpoint.ru/static/i/top-border-white.png" alt="" border="0" style="border:0;"></td>
    </tr>
    <tr>
      <td style="vertical-align: top; border-left: 1px solid #dfdfdf; border-right: 1px solid #dfdfdf; padding-top: 16px; padding-left: 20px;">
        <table cellspacing="0" cellpadding="0" border="0" style="border: 0; width: 657px;">
          <tr>
            <td style="vertical-align: top; background-color: #f4f4f4; height: 58px;">
              <table width="100%" cellspacing="0" cellpadding="0" border="0" style="border: 0;">
                <tr>
                  <td style="vertical-align: top; font-weight: bold; color: #000000; font-size: 16px; padding-left: 11px; padding-top: 6px; padding-bottom: 7px; width: 149px;">
                    Информационный партнер
                  </td>
                  <td style="color: #7d7d7d; vertical-align: top; padding-top: 7px;padding-left:7px;padding-right:7px; font-size: 15px;">
                    Размещение логотипа HackPoint на сайте партнера и публикация партнером анонса, ссылки на мероприятие и отчета о мероприятии в новостях. HackPoint в свою очередь размещает ссылку на сайт-партнер и на новость на сайте-партнере, предоставляет отчет о мероприятии.
                  </td>
                </tr>
              </table>
            </td>
          </tr>
          <tr>
            <td style="padding-top: 3px; vertical-align: top;">
              <table width="100%" cellspacing="0" cellpadding="0" border="0" style="border: 0; background: #f4f4f4; height: 37px;">
                <tr>
                  <td style="font-weight: bold; color: #000000; font-size: 16px; padding-left: 11px; padding-top: 6px; width: 148px; vertical-align: top;">Спонсор</td>
                  <td style="color: #7d7d7d; vertical-align: top; padding-top: 7px;padding-left:7px;padding-right:7px; font-size: 15px;">
                    Спонсорский взнос 5 000 руб.
                  </td>
                </tr>
              </table>
            </td>
          </tr>
          <tr>
            <td style="padding-top: 3px; vertical-align: top;">
              <table width="100%" cellspacing="0" cellpadding="0" border="0" style="border: 0; background: #f4f4f4; height: 37px;">
                <tr>
                  <td style="font-weight: bold; color: #000000; font-size: 16px; padding-left: 11px; padding-top: 6px; width: 148px; vertical-align: top;">Генеральный спонсор</td>
                  <td style="color: #7d7d7d; vertical-align: top; padding-top: 7px;padding-left:7px;padding-right:7px; font-size: 15px;">
                    Индивидуальные условия
                  </td>
                </tr>
              </table>
            </td>
          </tr>     
         <tr>
          <td style="padding-bottom: 18px;">
            <table width="100%" cellspacing="0" cellpadding="0" border="0" style="border: 0;">
              <tr>
                <td style="vertical-align: top; color: #7d7d7d; font-weight: bold; width: 157px; padding-top: 19px; padding-left: 3px; font-size: 16px;">Cancellation policy:</td>
                <td style="vertical-align: top; color: #7d7d7d; font-size: 14px; padding-top: 21px;">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ipsum dolor sit amet, consectetur adipisicing elit, eiusmod tempor.</td>
              </tr>
            </table>
          </td>
        </tr>                     
        </table>
      </td>
    </tr>
    <tr>
      <td><img src="http://hackpoint.ru/static/i/bottom-border-white.png" alt="" border="0" style="border:0;"></td>
    </tr>   
    <tr>
       <td style="vertical-align: top; padding-top: 16px;">
         <table width="100%" cellspacing="0" cellpadding="0" border="0" style="border: 0;">
           <tr>
             <td style="width: 341px;">
               <table width="100%" cellspacing="0" cellpadding="0" border="0" style="border: 0;">
                <tr>
                  <td><img src="http://hackpoint.ru/static/i/bottom-block-top-border.png" alt=""></td>
                </tr>
                 <tr>
                   <td style="vertical-align: top; padding-left: 21px; padding-top: 11px; background-color: #f8f8f8; border-left: 1px solid #dfdfdf; border-right: 1px solid #dfdfdf;">
                     <div style="font-size: 17px; color: #000000; font-weight: bold;">Room Details</div>
                     <div style="font-size: 14px; color: #7d7d7d; font-weight: normal; padding-top: 13px; padding-right: 15px; padding-bottom: 10px;">
                        Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea com modo consequat. Duis aute irure dolor in reprehe nderit in on ullamco laboris voluptate. <br> Velit esse cillum dolore eu fugiat nulla pariatu. Excepteur sint occaecat cupid atat on ullamco laborisnon proident, sunt in culpa qui officia deserunt on ullamco laborismollit anim id est laborum. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eius mod tempor incid idunt ut labore et dolore magna aliqua. 
                    </div>
                   </td>
                 </tr>
                 <tr>
                   <td><img src="http://hackpoint.ru/static/i/bottom-block-bottom-border.png" alt=""></td>
                 </tr>
               </table>
             </td>
             <td>&nbsp;</td>
             <td style="width: 341px;">
               <table width="100%" cellspacing="0" cellpadding="0" border="0" style="border: 0;">
                <tr>
                  <td><img src="http://hackpoint.ru/static/i/bottom-block-top-border.png" alt=""></td>
                </tr>
                 <tr>
                   <td style="vertical-align: top; padding-left: 21px; padding-top: 11px; background-color: #f8f8f8; border-left: 1px solid #dfdfdf; border-right: 1px solid #dfdfdf;">
                     <div style="font-size: 17px; color: #000000; font-weight: bold;">Property Policies</div>
                     <div style="font-size: 14px; color: #7d7d7d; font-weight: normal; padding-top: 13px; padding-right: 15px; padding-bottom: 10px;">
                        Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea com modo consequat. Duis aute irure dolor in reprehe nderit in on ullamco laboris voluptate. <br> Velit esse cillum dolore eu fugiat nulla pariatu. Excepteur sint occaecat cupid atat on ullamco laborisnon proident, sunt in culpa qui officia deserunt on ullamco laborismollit anim id est laborum. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eius mod tempor incid idunt ut labore et dolore magna aliqua. 
                    </div>
                   </td>
                 </tr>
                 <tr>
                   <td><img src="http://hackpoint.ru/static/i/bottom-block-bottom-border.png" alt=""></td>
                 </tr>
               </table>
             </td>
           </tr>
         </table>
       </td>
     </tr>
      <tr>
        <td style="padding-top: 17px; padding-bottom: 7px;">
          <table width="100%" cellspacing="0" cellpadding="0" border="0" style="border: 0;">
            <tr>
              <td style="width: 465px;">
                <a href="http://hackpoint.ru"><img src="http://hackpoint.ru/static/i/hackpoint_logo_email.png" alt="hackpoint" border="0" style="border:0;" width="88"></a>
              </td>
              <td>
                <table width="100%" cellspacing="0" cellpadding="0" border="0" style="border: 0;">
                  <tr>
                    <td style="color: #a3a3a3; font-size: 14px;">Следуй за нами</td>
                    <td><a href="https://www.facebook.com/hackpoint" target="_blank"><img src="http://hackpoint.ru/static/i/facebook.png" style="border:0;" border="0" width="20" height="20" alt="Follow us on Facebook"></a></td>
                    <td style="text-align: right;"><a href="https://twitter.com/hackpoint" target="_blank"><img src="http://hackpoint.ru/static/i/twitter.png" style="border:0;" border="0" width="20" height="20" alt="Follow us on Twitter"></a></td>
                    <td style="text-align: right;"><a href="https://vk.com/hackpoint" target="_blank"><img src="http://hackpoint.ru/static/i/vkontakte.png" style="border:0;" border="0" width="20" height="20" alt="Follow us on vkontakte"></a></td>
                  </tr>
                </table>
              </td>
            </tr>
          </table>
        </td>
      </tr>
      <tr>
        <td height="2" style="background-color: #208eeb; font-size: 0; line-height: 0;"></td>
      </tr>
      <tr>
        <td style="padding-top: 10px; text-align: center; color: #777777; font-size: 13px; padding-bottom: 20px; font-weight: normal;">
          <div>Если вас заинтересовало наше предложение, просто напишите нам <a href="mailto:info@hackpoint.ru" target="_blank" style="text-decoration: none; color: #6daccb;">info@hackpoint.ru</a></div>
          <div>
            <div><b>Шохин Леонид:</b> +7 900-540-4704</div>
            <div><b>Голубев Олег:</b> +7 909-598-1198</div></div>
          <div>
            <a target="_blank" href="http://hackpoint.ru" style="text-decoration: none; color: #6daccb;">hackpoint.ru</a> / 
            <a target="_blank" href="http://vk.com/hackpoint" style="text-decoration: none; color: #6daccb;">vk.com/hackpoint</a> / 
            <a target="_blank" href="http://habr.ru/p/188086/" style="text-decoration: none; color: #6daccb;">habr.ru/p/188086/</a>
          </div>
        </td>
      </tr>
  </table>
</div>
</body>
</html>
